.IA{
  width:100vw;
  height:100vh;
  position:fixed;
  overflow: auto;
  z-index:999;
  background-color: #fff;
  top:0;
  left:0;
  button{
    margin-top: 16px;
    margin-left: 16px;

  }
  #toPrint{
    width:842px;
    position:fixed;
    margin-left: calc(50% - 421px);
    box-sizing:border-box;
    padding:16px;
    .wrap{
      width: 842%;
      img{
        width:120px;
      }
      h3{
        text-align: center;
        margin-top:8px;
        width:842px;
      }
    }

  }
}
