.auth-download-record {
  width: 100%;
  &__search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__form-item {
    min-width: 246px;
    margin: 0 8px;
  }
  &__btns-wrapper {
    align-self: flex-end;
    margin-left: 16px;
    margin-bottom: 4px;
    button {
      margin: 0 8px;
    }
  }
}
