.fisrtStepSelected{
  width:80%;
  margin:10px auto;
  background:#fff;
  height:600px;
}
.back2history{
  position:fixed;
  z-index:999;
  top:16px;
  left:16px;
  padding:4px 8px;
  border:1px solid #eee;
  background: #fff;
  border-radius:8px;
  box-shadow:0px 0px 8px rgba(0,0,0,0.14);
  cursor:pointer;
}