.ultimate-query{
    width:100vw;
    height:100vh;
    box-sizing: border-box;
}
.side-bar{
    width:20vw;
    height:100vh;
    overflow: auto;
    float: left;
    background-color: #fff;
    border-right:#eee;
}
.main-frame{
    width: 80vw;
    height:100vh;
    float: right;
    background-color: #fff;
}