.selected-persons {
  height: 100%;
  border: 1px solid #ebebeb;
  padding: 16px;
  min-width: 390px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}
