/** less 文件中引入背景图有 bug，所以使用 css */
.login__left-part {
  background-image: url('./images/login-left.png');
  background-size: auto 100%;
}

.ant-col .ant-btn-block,.ant-col .ant-btn-primary,.ant-col .ant-btn-primary:hover,.ant-col .ant-btn-primary:before,.ant-col .ant-btn-primary:after{
  background-color: #1890ff!important;
  border-color: #1890ff!important;
}
.login__right-part a,.login__right-part a:hover{
  color:#1890ff;
}
.login__right-part a:active{
  color:#6B171A;
}
.login__right-part .ant-input:focus,.login__right-part .ant-input:hover,.login__right-part .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
  border-color: #1890ff;
}