@import url('../../../styles/variables.less');
.half-panel {
  max-width: 640px;
  width: 100%;
  margin: 0 16px;
  flex: 1;
  &__title {
    font-size: large;
    font-weight: bold;
    text-align: left;
  }
  &__title-text {
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1066px) {
  .half-panel {
    flex: auto;
  }
}
