@import url('../../../../../styles/variables.less');
.home-workbench-body {
  width: 100%;
  padding: 10px 20px 40px;
  height: ~'calc(100vh - 184px)'; // height: 656px;
  overflow-y: auto;
  .work-bench-body-category {
    height: auto;
    &__header {
      padding-left: 10px;
      display: flex;
      align-items: center;
    }
    &__prefix {
      width: 10px;
      height: 18px;
      display: inline-block;
      background: @primary-color;
      margin-right: 8px;
    }
    &__title {
      font-size: 18px;
      font-weight: bold;
    }
    &__apps {
      text-align: left;
    }
  }
}

.home-workbench-with-header {
  height: ~'calc(100vh - 290px)';
}

.home-workbench-app-wrapper {
  display: inline-block;
  width: 25%;
  width: 150px;
  text-align: center;
  margin-top: 30px;
  line-height: normal;
  &:hover {
    background-color: aliceblue;
  }
}

.workbench-body-drawer {
  .icon-gongzuotai {
    font-size: 24px;
  }
  &__title {
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    color: #fff;
    text-indent: 20px;
  }
  &__sub-item-icon {
    font-size: 18px;
  }
  &__switch {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    position: absolute;
    left: -46px;
    top: 90px;
    background: #1585ff;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    .iconfont {
      color: #fff;
    }
  }
  .ant-drawer-body {
    padding: 0;
  }
  .ant-drawer-wrapper-body {
    background: #001524;
  }
}

@media screen and (max-width: 1066px) {
  .home-workbench-body {
    height: auto;
  }
}