.drawRec{
  background-color: #fff;
  &>div:first-child{
    height: 3rem;
    box-sizing: border-box;
    padding: .5rem;
    button{
      margin-left: 0.5rem;
    }
  }
  &>div:last-child{
    height: calc(100vh - 3rem);

  }
}