.visitorApply {
  &_addPeople {
    width: 100%;
  }
  &_deleteBtn {
    width: 100px;
  }
  &_input {
    width: 314px;
  }
}
.VisitorApplyVIP-form {
  .fix-form-feedback-bug {
    .ant-radio-group {
      padding-right: 16px;
    }
  }
}
