.visitorApply {
  &_addPeople {
    width: 100%;
  }
  &_deleteBtn {
    width: 100px;
  }
  &_input {
    width: 314px;
  }
}
.VisitorApplyVIP-form {
  .fix-form-feedback-bug {
    .ant-radio-group {
      padding-right: 16px;
    }
  }
}
.ant-form-item-label > label {
  margin-right: 45px;
}

.changeFormItem {
  display: inline-block;
}

.changeFormItem1 {
  display: inline-block;
  label {
    margin-right: 60px;
  }
}
form .ant-select,
form .ant-cascader-picker {
  width: 100%;
  margin-left: 15px;
  margin-right: 35px;
  padding-right: 40px;
}
.seviceSections {
  width: 100%;
  overflow: hidden;
  & > div {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    & > div {
      margin-top: 0.5rem;
      & > div {
        margin-top: 0.5rem;
      }

      // input {
      //   width: 40%;
      //   height: 1.5rem;
      //   line-height: 1.5rem;
      //   font-size: 1rem;
      // }
    }
  }
}
