.form-data {
  overflow: hidden;
  height: 100%;
  width: 100%;
  &__tabs {
    float: left;
    height: 100%;
    vertical-align: top;
    overflow: auto;
    &--full {
      width: 100% !important;
    }
  }
  &__form-wrap {
    float: left;
    height: 100%;
  }
}
