.form-data {
  &__pwform--left {
    display: inline-block;
    width: 49%;
    height: 100%;
    overflow: auto;
  }
  &__tabs {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    overflow: auto;
    &--full {
      width: 99%;
    }
  }
}
