.person-group-select {
  display: flex;
  padding: 16px;
  border: 1px solid #ebebeb;
  &__header {
    margin-bottom: 16px;
  }
  .ant-table-thead {
    background-color: #ebebeb !important;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 72px;
    justify-content: center;
    align-items: center;
  }
  &__button {
    width: 40px;
    height: 32px;
    margin: 4px 0;
  }
}
