.personnel-information {
  height: 100vh;
  background: #fff;
  .personnel-information-base {
    display: flex;
    height: 100%;
    .personnel-information-tree {
      overflow-x: auto;
    }
    .table-data-wrapper {
      flex: 1;
      overflow: hidden;
    }
    .department-tree-wrapper {
      width: 250px;
      height: 100%;
      padding: 8px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
