.MealAccountQuery{
  background-color: #fff;
  .MealAccountQuery_menu{
   position: absolute;
   z-index:9;
   right: .5rem;
  }
  .MealAccountQuery_hint{
    font-size: 2rem;
    line-height: 100vh;
    text-align: center;
  }
}