.register-contain{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(241, 239, 239);
  width: 500px;
  // height: 700px;
  margin-top: 50px;
  // border-radius: 20px;
  background: #fff;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.05);
  margin: 50px auto;
}
.ant-spin-nested-loading{
  width: 300px;
  
}
.login-form-valid{
  width: 180px;
  position: relative;
}
.code-button{
  position: absolute;
  left: 190px;
  top: -8px;
}
.register-form-button{
  width: 100px;
}
.register-form-login{
  font-size: 12px;
  float: right;

}
.other-register{
   margin-top: 9px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 9px;

}
.other-register-doctor{
  font-size: 16px;

}
.other-register-company{
  font-size: 16px;
}
.ant-form-item-label label{
  float: left;
}
.registerForm .ant-form-item-control-wrapper {
  float: right;
}
.registerOrLogin{
  display: flex;
  align-items:center;
  justify-content: space-between;
}