<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
		<security>
			<requestFiltering>
				<requestLimits maxUrl="409600" maxQueryString="204800" />
			</requestFiltering>
		</security>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
       <httpErrors errorMode="Custom">
      <error statusCode="404" subStatusCode="0" path="/index.html" responseMode="ExecuteURL" />
      <error statusCode="404" subStatusCode="1" path="/index.html" responseMode="ExecuteURL" />
      <error statusCode="404" subStatusCode="2" path="/index.html" responseMode="ExecuteURL" />
      <error statusCode="404" subStatusCode="3" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
       
    </system.webServer>
</configuration>
