.doctor-list {
  margin: 0 auto;
  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
    &__avatar {
      width: 90px;
      height: 105px;
      line-height: 105px;
      font-size: 18px;
    }
    &__information {
      float: right;
    }
  }
  &__spin {
    img {
      width: 22px !important;
      height: 22px !important;
    }
  }
}

.doctorList .ant-card {
  width: 400px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.butt-joint-doctor__card {
  margin: 24px;
  width: 400px;
}
