.tranning-detail {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  &_lock {
    position: fixed;
    right: 24px;
    bottom: 32px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &_tabledata-wrapper {
    flex: 1;
    height: 100%;
  }
  &_sider {
    width: 224px;
    margin: 24px;
    &_approval {
      &_item {
        padding-top: 16px;
      }
    }
  }
}
.tranning-detail_lock{
  display: none;
}