@import url('../../../../styles/variables.less');
.new-home__right-btns {
  display: flex;
  flex-direction: column;
}
.input-pass1 .pass1 {
  margin-top: 20px;
}

.input-pass1 .input-pass {
  height: 40px;
}

.btn-submit {
  width: 100%;
  height: 40px;
  color: white;
  font-size: 14px;
  margin: 0px 0 20px 0;
}

.right-btns {
  &__to-more-btns-icon {
    transition: 0.5s;
  }
  &__to-less-btns-icon {
    transform: rotate(180deg);
  }
  &__left-btns,
  &__right-btns {
    transition: 0.5s;
    display: inline-block;
  }
  &__left-btns {
    &.to-more-btns-status {
      display: none;
    }
  }
  &__right-btns {
    display: none;
    &.to-more-btns-status {
      display: inline-block;
    }
  }
  &__about-modal {
    height: 30px;
    display: flex;
    align-items: center;
    .icon-logo {
      font-size: 50px;
      color: @primary-color;
      margin-left: -18px;
    }
  }
  &__about-modal-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__about-modal-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__about-modal-btn {
    flex: 1;
    text-align: right;
  }
  &__about-modal-version-desc {
    border-top: 1px solid #e8e8e8;
    margin-top: 30px;
    padding-top: 12px;
  }
  &__about-modal-version-desc-content {
    max-height: 380px;
    overflow: auto;
  }
  &__attendance-month-wrapper {
    display: flex;
    align-items: center;
  }
  &__attendance-month-icon {
    font-size: 24px;
    color: @primary-color !important;
  }
  &__attendance-month {
  }
}
