.viewPrint{
  width:100vw;
  height:100vh;
  overflow: auto;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index:999;
}
.hidden{
  display: none;
}
.clz{
  position: absolute;
  right:16px;
  top: 16px;
}
#toPrint{
  width: 210mm;
  // height: 297mm;
  position: absolute;
  left:50%;
  margin-left: -105mm;
  // border:1px solid #dcdcdc;
}
// #toPrint .sm-wrap{
//   width:30%;
//   margin-right:5%;
//   height:auto;
//   float:left;
// }
// #toPrint .sm-wrap:nth-child(4n-1){
//   margin-right:0;
// }
// .alter>div{
//   margin:0;
// }
// #toPrint .sm-wrap>div{
//   width:100%;
//   height:auto;
//   line-height: 22px;
//   margin-bottom: 17px;
// }
// #toPrint .sm-wrap>div:last-child{
//   margin-bottom: 0;
// }
.clearfix{
  // clear:both;
  // margin-bottom: 32px;

}
.printBtn{
  position:fixed;
  top:16px;
  left:16px;
}