.reference{
  width:100vw;
  background:#fff;
  padding:0;
  margin:0;
  padding-bottom:56px;
}
.buttonLine{
  position:fixed;
  width:100%;
  z-index:999;
  bottom:0;
  left:0!important;
  height:56px;
  background: #fff;
  border-top:1px solid #e8e8e8;
  box-shadow:0px 0px 8px rgba(0,0,0,0.09);
  button{
    margin-top: 12px;
    margin-left: 16px;
  }
  button:last-child{
    margin-left: 8px;
  }
  .charaChange{
    float:right;
  
    list-style: none;
    overflow: hidden;
    height:56px;
    .current{
      background: #1890ff;
      color:#fff;
      box-shadow: 0 0 4px rgba(24,144,255,1);
      border:none;
      &:hover{
        color:#fff;
        opacity: 0.8;
      }
    }
    li{
      margin-top: 8px;
      font-size: 12px;
      cursor:pointer;
      box-shadow:0 0 8px rgba(0,0,0,0.09);
      border:1px solid #e8e8e8;
      width:80px;
      padding:0 8px;
      border-radius:2px;
      height:40px;
      text-align: center;
      line-height: 40px;
      float:left;
      margin-left:8px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
      not supported by any browser */
      &:hover{
        color:#1890ff;
      }
    }
  }
}
.hidden{
  display: none;
}
