// .performance-query {
//   height: calc(100vh - 91px);
//   overflow: auto;
// }
.personInfoQuery {
  height: 100%;
  background-color: #fff;
  // padding: 24px 32px 16px 32px;
  .buttonLine {
    margin-bottom: 16px;
    button {
      margin-right: 16px;
    }
  }
}
.Home,
.JobInfo {
  animation-name: load;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  height: calc(100% - 48px);
}
.JobInfo {
  .viewDetail {
    position: absolute;
    right: 186px;
    z-index: 999;
    top: 54px;
  }
  .table-data {
    height: calc(100vh - 525px) !important;
    overflow: auto;
    .ant-spin-nested-loading {
      height: auto;
    }
    .pw-table__footer {
      top: 48px;
      bottom: auto;
      width: 50%;
      border: none;
    }
  }
  h4 {
    padding-top: 8px;
  }
  .data {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 16px 0 24px 0;
    width: 100%;
    li {
      float: left;
      width: 30%;
      overflow: hidden;
      label {
        display: block;
        float: left;
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        float: left;
        color: rgba(0, 0, 0, 0.65);
      }
      &:last-child {
        width: 100%;
      }
    }
  }
}
@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
