.selected-door-group-list {
  padding: 16px;
  border: 1px solid #ebebeb;
  width: 460px;
  &__header {
    margin-bottom: 16px;
  }
  .ant-table-thead {
    background-color: #ebebeb !important;
  }
}
