.total-statical {
  width: 800px;
  margin: 0 auto;
  height: 500px;
  overflow: auto;
  &__title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  &__btn {
    margin-top: 5px;
  }
  &__question {
    padding-left: 15px;
    width: 80%;
    margin: 0 auto;
  }
  &__chart-wrap {
    margin-top: 10px;
    padding: 16px;
    .ant-progress-text {
      font-size: 8px;
      color: #000;
    }
    &__question-topic {
      padding-left: 10px;
    }
  }
  &__ubox {
    padding-inline-start: 0;
    margin-block-start: 0;
    border: 1px solid #cccccc;
    // border-bottom: none;
    border-radius: 6px;
    &__lee {
      list-style: none;
      // border: 1px solid #cccccc;
      border-style: solid;
      border-color: #cccccc;
      border-width: 0 0 1px 0;
      line-height: 20px;
      padding: 10px;
      display: flex;
      &:last-child {
        border-width: 0;
      }
    }
  }
  .printMode{
    .unAdoped,.ant-btn{
      display: none!important;
    }
  }
  
}
