.total-statical {
  width: 800px;
  margin: 0 auto;
  overflow: auto;
  &__title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  &__question {
    padding-left: 15px;
    width: 80%;
    margin: 0 auto;
  }
  &__chart-wrap {
    margin-top: 10px;
  }
}
.total-statical__chart-wrap__question-topic {
  padding-left: 10px;
}
