.total-statical{
  width:70%;
  margin:0 auto;
  border:1px  solid #cccccc;
  min-height: 480px;
  overflow: auto;
  &__title{
    width:50%;
    margin:0 auto;
    text-align: center;
  }
  &__question{
    padding-left:15px;
    width:80%;
    margin: 0 auto;
  }
  &__chart-wrap{
    margin-top: 10px;
  }
}
.total-statical__chart-wrap__question-topic{
  padding-left:10px;
}