.statistical-report-forms {
  background: #ffffff;
  min-height: 100vh;
  .statistical-report-form-3 {
    &_table {
      border: 1px solid #999999;
      display: flex;
      text-align: center;
      &__sider {
        &_header,
        &_item {
          padding: 4px 8px;
          border-right: 1px solid #999999;
          border-bottom: 1px solid #999999;
        }
        &_header {
          background: #e3ebf6;
        }
      }
      &__main {
        flex: 1;
        &_quarter_list {
          display: flex;
        }
        &_quarter {
          flex: 1;
          &_item {
            padding: 4px 8px;
            border-right: 1px solid #999999;
            border-bottom: 1px solid #999999;
            height: 51px;
          }
        }
      }
      &__header {
        display: flex;
        background: #e3ebf6;
        &_item {
          flex: 1;
          padding: 4px 8px;
          border-right: 1px solid #999999;
          border-bottom: 1px solid #999999;
          height: 51px;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
#report-form1 {
  height: 700px;
}
.tableWrap{
  overflow: hidden;
  .innerWrap{
    width:calc(100% - 120px);
    height:480px;
    overflow-x: scroll;
    overflow-y: hidden;
    rect{
      display:block;
      height:480px;
    }
  }
  position: relative;
  width:90vw;
  margin-left: 5vw;
  margin-top:16px;
  border:1px solid #dcdcdc;
  height:480px;
  margin-bottom: 24px;
  box-sizing:border-box;
  *{
    box-sizing:border-box;
  }
  .alter{
    background: #fffbe6;
    dt{
      background: #fff2e8;

    }
    dd:nth-child(2n){
      background:#fffbe6;
    }
  }
  dl{
    float:left;
    width:120px;
    margin:0;
    height:480px;
   border-right:1px solid #dcdcdc;
    p{
      width:100%;
    }
    dt{
    padding:8px;
    height:80px;
    margin:0;
      background: #e6f7ff;
      border-bottom: 1px solid #dcdcdc;

    }
    dd{
      margin:0;
    padding:8px;
    height:80px;
      border-bottom: 1px solid #dcdcdc;
    }
    dd:nth-child(2n){
      background:#f5f5f5;
    }
  }
}