.statistical-report-forms {
  background: #ffffff;
  min-height: 100vh;
  transition: .3s;
  *{
    transition: .3s;

  }
  .statistical-report-form-3 {
    width:calc(100% - 32px);
    margin-top:16px;
    margin-left:16px;
    overflow: visible;

    &_table {
      border: 1px solid #999999;
      display: flex;
      text-align: center;
      &__sider {
        &_header,
        &_item {
          height:89px;
          line-height: 44px;
          padding:0 16px;
          border-right: 1px solid #999999;
          border-bottom: 1px solid #999999;
        }
        &_header {
          background: #e3ebf6;
          height: 51px;
          line-height: 50px;
        }
      }
      &__main {
        flex: 1;
        &_quarter_list {
          display: flex;
        }
        &_quarter {
          flex: 1;
          background:#fff;
          transition: .3s;
          
          &:hover{
            background:#fffbe6;
            .statistical-report-form-3_table__header{
              background: #fff2e8;
            }
            .courseRect{
              width: 50%;
              border-right:1px solid #999;

              &:last-child{
                width:50%;
                border:none;
              }

            }
          }
          &_item {
            border-right: 1px solid #999999;
            border-bottom: 1px solid #999999;
            height: 89px;
            line-height: 88px;
            overflow: hidden;
            .courseRect{
              overflow: hidden;
              // display: none;
              width:0%;
              float:left;
              &:last-child{
                width:100%;
                display: block;
                border:none;
                line-height: 88px;
              }
              div{
                width:100%;
                height:44px;
                line-height: 22px;
                box-sizing:border-box;
                border-bottom:1px solid #999;
                &:last-child{
                  border:none;
                }
              }
            }
          }
        }
      }
      &__header {
        display: flex;
        background: #e3ebf6;
        &_item {
          flex: 1;
          border-right: 1px solid #999999;
          border-bottom: 1px solid #999999;
          height: 51px;
          line-height: 51px;
        }
      }
    }
  }
}
#report-form1 {
  height: 500px;
}
.tableWrap{
  overflow: hidden;
  .innerWrap{
    width:calc(100% - 120px);
    height:480px;
    overflow-x: scroll;
    overflow-y: hidden;
    rect{
      display:block;
      height:480px;
    }
  }
  position: relative;
  width:90%;
  margin-left: 5%;
  margin-top:16px;
  border:1px solid #dcdcdc;
  height:480px;
  margin-bottom: 24px;
  box-sizing:border-box;
  *{
    box-sizing:border-box;
  }
  .alter{
    background: #fffbe6;
    dt{
      background: #fff2e8;

    }
    dd:nth-child(2n){
      background:#fffbe6;
    }
  }
  dl{
    float:left;
    width:120px;
    margin:0;
    height:480px;
   border-right:1px solid #dcdcdc;
    p{
      width:100%;
    }
    dt{
    padding:8px;
    height:80px;
    margin:0;
      background: #e6f7ff;
      border-bottom: 1px solid #dcdcdc;

    }
    dd{
      margin:0;
    padding:8px;
    height:80px;
      border-bottom: 1px solid #dcdcdc;
    }
    dd:nth-child(2n){
      background:#f5f5f5;
    }
  }
}