.query{
  width:1170px;
  padding:10px;
  margin:auto;
}
.query-top{
  display:flex;
  align-items: center;
  border-bottom: 2px solid #0086ff;
  margin-bottom: 10px;
}
.folder{
  margin-bottom: 10px;
}
.personalTags{
  margin-left: 10px;
}
.myquery_button_checked.myquery_button_checked{
  background-color: #0086ff;
  color:#fff;
}
