.query{
  width:1170px;
  padding:10px;
}
.query-top{
  display:flex;
  align-items: center;
  border-bottom: 2px solid #0086ff;
  margin-bottom: 10px;
}
.folder{
  margin-bottom: 10px;
}
.personalTags{
  margin-left: 10px;
}
