.IDLTransferVerify{
  width:100vw;
  height:100vh;
  background: #fff;
  .sider{
    display: block;
    width:120px;
    height:calc(100vh - 60px);
    float: left;
    border-right:1px solid #e8e8e8;
    margin-left:0;
    transition: .3s;
    .current{
      color:#1890ff;
    }
    
    p{
      height: 28px;
      width:100%;
      line-height: 28px;
      text-align:center;
      font-size: 14px;
      cursor:pointer;
      &:first-child{
        margin-top: 16px;
      }
    }
  }
}
.showContent{
  margin-top: 16px;
  width:100%;
  .reason{
    max-height: 64px;
    overflow-y:scroll;
  }
  b{
    line-height: 24px;
  }
  span{
    margin-right: 24px;
    line-height: 24px;
  }
  .tableWrap{
    margin-top: 16px;
  }
}