.subordinate-achievements-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  .ant-tabs-top-content.ant-tabs-content-animated {
    height: calc(100% - 36px);
  }
  .subordinate-achievements {
    height: 100%;
    display: flex;
    &__menu {
      width: 152px;
      flex-shrink: 0;
      overflow: auto;
      background: #ffffff;
    }
    &__main {
      width: 272px;
      padding: 16px 8px;
      flex-shrink: 0;
      &-container {
        background: #ffffff;
        height: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        overflow: auto;
      }
    }
    &__table {
      flex: 1;
      padding: 16px 8px;
      overflow: hidden;
      &-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        .subordinate-achievements-tabledata-container {
          flex: 1;
          background: #ffffff;
          overflow: auto;
        }
      }
    }
    &__year-list {
      padding: 16px;
      background: #ffffff;
      flex-shrink: 0;
      .year-list-item {
        padding: 8px 16px;
        border: 1px solid rgba(232, 232, 232, 1);
        margin-bottom: 8px;
        width: 120px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgba(24, 144, 255, 1);
          color: #1890ff;
        }
      }
      .year-list-item--selected {
        border: 1px solid rgba(24, 144, 255, 1);
        color: #1890ff;
      }
    }
    &__tabledata-container {
      flex: 1;
      overflow: hidden;
    }
  }
}
