.doors-select {
  display: flex;
  flex-direction: column;
  height: 420px;
  &__doors {
    flex: 1;
    display: flex;
    height: 100%;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    width: 72px;
    justify-content: center;
    align-items: center;
  }
  &__button {
    width: 40px;
    height: 32px;
    margin: 4px 0;
  }
}
