.tranning-detail-approval {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  &_tabledata-wrapper {
    flex: 1;
    height: 100%;
  }
  &_sider {
    width: 224px;
    margin: 24px;
    &_item {
      margin-bottom: 16px;
      b {
        margin-right: 8px;
      }
    }
  }
}
