.wrap{
    width:100vw;
    height:100vh;
    padding:1rem;
    text-align: center;
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    th{
        padding:0 .5rem;
        line-height: 1.5rem;
        height: 1.5rem;
    }
    .ant-calendar-picker i{display:none;}
    .ant-calendar-picker input{
        border:none;
    }
}