.choice{
  border-bottom: 1px solid #000;
  background: #fff;
  padding:20px;
  position:relative; 
}
.choice:hover{
  background: #f8f8f8;
}
.choice:hover  .choiceActionBox{
 display:block;
}
.mark{
  color:#ff0000;
}
.choiceActionBox{
  position:absolute;
  right:40PX;
  bottom: 10PX;
  display:none;
}
.choiceActionBox button{
  margin-left:5px;
}
.otherinp{
  border:none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}