.fj-list {
  background: #fff;
  height: calc(100vh - 110px);
  & > div {
    height: 100%;
    padding: 16px 28px;
  }
}
.fjlist-header-number {
  font-weight: 800;
  color: #4e92df;
  font-size: 17px;
}
