.reply-complain {
  height: 100vh;
  background: #ffffff;
  & &__untreated,
  & &__treated,
  & &__all {
    height: calc(100vh - 60px);
  }
}

.reply-complain-view-modal-content {
  label {
    color: #000000;
  }
}

.changeAntCSS {
  :global{
    .ant-modal-content{
      background-color: transparent;
    }
    .ant-modal-close-x{
      color:white;
      position: fixed;
    }
    .ant-slider{
      opacity: 0.2;
    }
    .ant-slider:hover{
      opacity: 1;
    }
  }  
}
