.reply-complain {
  height: 100vh;
  background: #ffffff;
  & &__untreated,
  & &__treated,
  & &__all {
    height: calc(100vh - 60px);
  }
}

.reply-complain-view-modal-content {
  label {
    color: #000000;
  }
}
