.page-annual-leave-query{
    background: #ffffff;
    min-height: 100vh;
    .alq-summary{
			padding: 0px 24px 16px;
        .alq-summary__header{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 12px;

				}
				.table-action--view{
					color: #1890ff;
					cursor: pointer;
				}
		}
		.alq-detail{
			padding: 0px 24px 16px;
			&__header{
				margin-bottom: 12px;
			}
		}
}