.courseApply {
  &_label {
    font-weight: 600;
    margin-right: 8px;
    width: 80px;
    display: inline-block;
  }
  &_row {
    margin-bottom: 16px;
  }
  &__card {
    margin-bottom: 10px;
  }
}
