.weekly-settlement {
  min-height: 100%;
  background: #ffffff;
  padding: 8px;
  header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .week-number {
      margin-left: 16px;
    }
  }
}
