.bg{
  width:100vw;
  height:100vh;
  background: #fff;
  position:fixed;
  top:0;
  left:0;
  -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.CyberMoney{
      background: #fff;
      display:grid;
      grid-template-columns: 33.3333vw 33.3333vw 1rf;
      grid-template-rows: 11.1111vw ;
      grid-row-gap: 1.1111vw;
      grid-column-gap: 1.1111vw;
      margin-top:3.243vh;
      width:89.19vw;
      height:90.27vh;
      margin-left:6.486vw;
    }
    *{
      transition: .3s;
    }
    .CyberMoney div{
      background: #fff;
      box-shadow: 0px 0px 0.5556vw 0px rgba(0,0,0,.2);
      border-radius: 1.1111vw;
    }
   .CyberMoney	.history{
      background:linear-gradient(180deg,rgba(26,41,128,1) 0%,rgba(38,208,206,1) 100%);
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .CyberMoney	.team{

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .CyberMoney	.user{
      position:relative;
      background-image: url(img/bg.png);
      background-size:cover;
      transition: .3s;

    }
    .CyberMoney .shop{
      background-image: url(img/bg2.png);
      background-size:cover;
      cursor: pointer;
      position:relative;
    }
    .user *,.shop *{
      position: absolute;
    }
    .user:hover{
      transition: .3s;
      opacity: 0.9;
    }
    .user .avatar{
      border-radius: 50%;
      width:5.5556vw;
      height:5.5556vw;
      background-image: url(img/avatar-def.png);
      background-size: cover;
      top:50%;
      margin-top: -2.7778vw;
      margin-left:2.2222vw;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.4) inset;
    }
    .user p,.user span{
      color:#fff;
      left:8.4vw;
    }
    .user p{
      top:2.7778vw;
      font-size: 1.6667vw;
      font-weight: bold;
    }
    .user span{
      font-size: 1.1111vw;
      bottom:2.7778vw;
    }
    oval{
      display: block;
      width:7.2222vw;
      height:7.2222vw;
      right:2.2222vw;
      border-radius: 50%;
      top:50%;
      margin-top:-3.6111vw;
      background:rgba(255,216,223,0.4);
      box-shadow:0px 0px 1.1111vw 0px rgba(255,255,255,0.16);
      border:1px solid rgba(255,255,255,0.6);
    }
    .user oval p{
      top:0;
      left:0;
      width:7.2222vw;
      text-align: center;
      font-size:2.7778vw;
      font-family:DINCondensed-Bold,DINCondensed;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:8.2222vw;
    }
    .shop:hover{
      opacity: 0.9;
    }
    .shop rect{
      width:2.9167vw;
      height:2.9167vw;
      left:50%;
      margin-left:-1.4583vw;
      background-image: url(img/shopping_white.svg);
      background-size: cover;
      top:2.3611vw;
    }
    .shop p{
      width:100%;
      left:0;
      color:#fff;
      text-align: center;
      bottom:.6vw;
      font-size: 1.6667vw;

    }
    .CyberMoney .shop_cls{
      background-image: url(img/shop_cls.png);
      cursor: default;
    }
    .CyberMoney .shop_cls p{
      color:#666;
    }
    .CyberMoney .shop_cls rect{
      background-image: url(img/shopping_line.svg);
      opacity: 0.6;
    }
    .shop_cls:hover{
      opacity: 1;
    }
    .history h4{
      font-size:16px;
      color:#fff;
      font-weight: bold;
      margin-top:24px;
      margin-bottom: 24px;
      margin-left: 1.6667vw;
    }
    .history ul{
      padding:0;
      list-style: none;
      margin-top:24px;
      width:92.37%;
      margin-left:6.63%;
      height:calc(90.1351vh - 6.25vw);
      overflow: auto;

    }
    .team ul::-webkit-scrollbar
    {
        width:0.5556vw;
        background-color: rgba(0,0,0,0);
    }
    .history ul::-webkit-scrollbar{
      width:0.5556vw;
      background-color: rgba(0,0,0,0);
    }
    .history ul::-webkit-scrollbar-track{

        border-radius: 10px;
        background-color: rgba(0,0,0,0);
    }
    .history ul::-webkit-scrollbar-thumb{

        border-radius: 10px;
        background-color: rgba(255,255,255,0.25);
        &:hover{
          background-color: rgba(255,255,255,0.25);

        }
    }
    .team ul::-webkit-scrollbar-thumb{

        border-radius: 10px;
        background-color: rgba(0,0,0,0.1);
        &:hover{
          background-color: rgba(0,0,0,0.25);
        }
    }
    .history li{
      position: relative;
      width:95%;
      height:auto;
      background:rgba(255,255,255,0.15);
      border-radius:8px;
      overflow: hidden;
      margin-bottom: 16px;
      transition: .3s;
    }
    .history li:hover{
      background:rgba(255,255,255,0.3);
      transition: .3s;


    }
    .history li p{
      font-size: 16px;
      color:#fff;
      margin-top:16px;
      margin-left:16px;


    }
    .history li p:nth-child(2){
      margin-top:0.5556vw;
      float:left;
      margin-bottom:1.1111vw;
    }
    .history li p:nth-child(3){
      margin-top:0.5556vw;
      float:left;

    }
    .clearfix{
      clear:both;
    }
    .history li oval{
      position: absolute;
      right:16px;
      margin-top:-40px;
      width:80px;
      height:80px;
      background:rgba(255,255,255,0.1);
      border:1px solid rgba(255,255,255,0.4);
    }
    .history li oval p{
      line-height:88px;
      width:80px;
      text-align: center;
      font-size: 32px;
      font-family:DINCondensed-Bold,DINCondensed;
      margin:0;
    }
    .team{
      position:relative;
      overflow: hidden;

      div:first-child{
        box-shadow: none;
        border-radius:0;
        border-bottom:1px solid #eee;
        height:56px;
        padding:0 5%;
        overflow: hidden;
        .current{
          color:#FF5F6D;

        }
        button{
          background: none;
          border:none;
          outline:none;
          float:right;
          font-size: 16px;
          line-height: 24px;
          margin-top: 16px;
          cursor:pointer;
          width:24px;
          &:hover{
            color:#FF5F6D;
          }
        }
        h4{
          float:left;
          line-height:56px;
          font-size: 16px;
          font-weight: bold;
        }
      }

      ul{
        position:absolute;
        height:calc(100% - 4.4444vw);
        overflow: scroll;
        list-style: none;
        padding:0;
        margin-left:5%;
        width:94%;
        li{
          margin-top:24px;
          width:95%;
              span{
                  display:inline-block;
                  width:16%;
                  line-height:24px;
                  font-size: 16px;
                  color:#FF5F6D;
                  b{
                    color:#333;
                  }
              }
              bar{
                display:inline-block;
                vertical-align: middle;

                width:84%;

                background: rgba(255,95,109,0.1);
                height:8px;
                border-radius: 999px;

                overflow: hidden;
                  filter{
                    display:block;
                    transition: .3s;
                    height:8px;
                    background: linear-gradient(90deg,#FF5F6D,#FFC371);
                    border-radius: 999px;

                  }
                }
        }

      }

    }
