.bg{
  width:100vw;
  height:100vh;
  background: #F0F2F5;
  position:fixed;
  top:0;
  left:0;
  -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.CyberMoney{
      // display:grid;
      // grid-template-columns: 33.3333vw 33.3333vw 1rf;
      // grid-template-rows: 11.1111vw ;
      // grid-row-gap: 1.1111vw;
      // grid-column-gap: 1.1111vw;
      margin-top:3.243vh;
      width:1200px;
      height:93.514vh;
      position: absolute;
      left: 50%;
      margin-left:-600px;
    }
    *{
      transition: .3s;
    }
    .CyberMoney>div{
      background: #fff;
      box-shadow: 0px 0px 0.5556vw 0px rgba(0,0,0,.2);
      border-radius: 14px;

    }
   .CyberMoney	.history{
      // background:linear-gradient(180deg,rgba(26,41,128,1) 0%,rgba(38,208,206,1) 100%);
      background-color: #971a1e;
      width:328px;
      height: 93.514vh;
      float:right;
      position: relative;
        // grid-column-start: 3;
        // grid-column-end: 3;
        // grid-row-start: 1;
        // grid-row-end: 3;
    }
    .CyberMoney	.team{
      width:856px;
      margin-top: 16px;
      height:calc(93.514vh - 146px);
      float: left;
      
        // grid-column-start: 1;
        // grid-column-end: 3;
        // grid-row-start: 2;
        // grid-row-end: 3;
    }
    .CyberMoney	.user{
      width:420px;
      height: 130px;
      position:relative;
      background-image: url(img/bg.png);
      background-size:cover;
      transition: .3s;
      float:left;
    }
    .CyberMoney .shop{
      width:420px;
      height: 130px;
      float:left;
      background-image: url(img/bg2.png);
      background-size:cover;
      cursor: pointer;
      position:relative;
    }
    .shop{
      margin-left: 16px;
    }
    .user *,.shop *{
      position: absolute;
    }
    .user:hover{
      transition: .3s;
      opacity: 0.9;
    }
    .user .avatar{
      border-radius: 50%;
      width:88px;
      height:88px;
      background-image: url(img/avatar-def.png);
      background-size: cover;
      top:50%;
      margin-top:-44px;
      margin-left:32px;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.4) inset;
    }
    .user p,.user span{
      color:#fff;
      left:144px;
    }
    .user p{
      top:32px;
      font-size: 24px;
      font-weight: bold;
    }
    .user span{
      font-size: 16px;
      bottom:32px;
    }
    oval{
      display: block;
      width:88px;
      height:88px;
      right:28px;
      border-radius: 50%;
      top:50%;
      margin-top:-44px;
      background:rgba(255,216,223,0.4);
      box-shadow:0px 0px 8px 0px rgba(255,255,255,0.16);
      border:1px solid rgba(255,255,255,0.6);
    }
    .user oval p{
      top:0;
      left:0;
      width:88px;
      text-align: center;
      font-size:40px;
      font-family:DINCondensed-Bold,DINCondensed;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:100px;
    }
    .shop:hover{
      opacity: 0.9;
    }
    .shop rect{
      width:40px;
      height:40px;
      left:50%;
      margin-left:-20px;
      background-image: url(img/shopping_white.svg);
      background-size: cover;
      top:24px;
    }
    .shop p{
      width:100%;
      left:0;
      color:#fff;
      text-align: center;
      bottom:0;
      font-size: 20px;

    }
    .CyberMoney .shop_cls{
      background-image: url(img/shop_cls.png);
      cursor: default;
    }
    .CyberMoney .shop_cls p{
      color:#666;
    }
    .CyberMoney .shop_cls rect{
      background-image: url(img/shopping_line.svg);
      opacity: 0.6;
    }
    .shop_cls:hover{
      opacity: 1;
    }
    
    .history h4{
      font-size:16px;
      color:#fff;
      font-weight: bold;
      margin-top:24px;
      margin-bottom: 24px;
      margin-left: 16px;
      position: relative;
      z-index:3;
      .viewRule{
        float:right;
        font-weight: normal;
        margin-right: 16px;
        cursor:pointer;
        box-sizing: border-box;
        &:hover{
          border-bottom:1px solid rgba(255,255,255,0.65);
        }
      }
    }
    .history ul{
      padding:0;
      list-style: none;
      width:296px;
      position: absolute;
      left:50%;
      margin-left: -148px;
      height:calc(93.514vh - 112px);
      margin-top: 16px;
      overflow: auto;
      z-index:2;
    }
    .team ul::-webkit-scrollbar
    {
        width:10px;
        background-color: rgba(0,0,0,0);
    }
    .history ul::-webkit-scrollbar{
      width:10px;
      background-color: rgba(0,0,0,0);
    }
    .history ul::-webkit-scrollbar-track{

        border-radius: 5px;
        background-color: rgba(0,0,0,0);
    }
    .history ul::-webkit-scrollbar-thumb{

        border-radius: 5px;
        background-color: rgba(255,255,255,0.25);
        &:hover{
          background-color: rgba(255,255,255,0.25);

        }
    }
    .team ul::-webkit-scrollbar-thumb{

        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
        &:hover{
          background-color: rgba(0,0,0,0.25);
        }
    }
    .history li{
      position: relative;
      width:100%;
      height:auto;
      background:rgba(255,255,255,0.15);
      border-radius:8px;
      overflow: hidden;
      margin-bottom: 16px;
      transition: .3s;
      padding: 16px;
    }
    .history li:hover{
      background:rgba(255,255,255,0.3);
      transition: .3s;


    }
    .history li p{
      font-size: 14px;
      color:#fff;
      width:calc(100% - 104px);
      margin-bottom: 16px;
      white-space: normal;
    }
    .history li p:nth-child(3){
      margin-bottom: 0;
    }
    .clearfix{
      clear:both;
    }
    .history li oval{
      position: absolute;
      right:16px;
      margin-top:-40px;
      width:80px;
      height:80px;
      background:rgba(255,255,255,0.1);
      border:1px solid rgba(255,255,255,0.4);
    }
    .history li oval p{
      line-height:88px;
      width:80px;
      text-align: center;
      font-size: 32px;
      font-family:DINCondensed-Bold,DINCondensed;
      margin:0;
    }
    .team{
      position:relative;
      overflow: hidden;

      &>div:first-child{
        box-shadow: none;
        border-radius:0;
        border-bottom:1px solid #eee;
        height:48px;
        padding:0 32px;
        overflow: hidden;
        .current{
          color:#971a1e;

        }
        button{
          background: none;
          border:none;
          outline:none;
          float:right;
          font-size: 16px;
          line-height: 24px;
          margin-top: 16px;
          cursor:pointer;
          width:24px;
          &:hover{
            color:#971a1e;
          }
        }
        h4{
          float:left;
          line-height:48px;
          font-size: 16px;
          font-weight: bold;
        }
      }

      ul{
        position:absolute;
        height:calc(100% - 4.4444vw);
        overflow: scroll;
        list-style: none;
        padding:0;
        margin-left:5%;
        width:94%;
        li{
          margin-top:24px;
          width:95%;
              span{
                  display:inline-block;
                  width:16%;
                  line-height:24px;
                  font-size: 16px;
                  color:#971a1e;
                  b{
                    color:#333;
                  }
              }
              bar{
                display:inline-block;
                vertical-align: middle;

                width:84%;

                background: rgba(255,95,109,0.1);
                height:8px;
                border-radius: 999px;

                overflow: hidden;
                  filter{
                    display:block;
                    transition: .3s;
                    height:8px;
                    background: #971a1e;
                    border-radius: 999px;

                  }
                }
        }

      }

    }
.bonusRule{
  
*{
  line-height: 2;
}
span{
  font-weight:bold;
}
b{
  color:#971a1e;
  font-weight: normal;
}
hr{
  margin-top: 8px;
  margin-bottom: 8px;
}
}
.history:after{
  width: 100%;
  position: absolute;
  height:72px;
  content:'';
  display: block;
  background: url(img/bg_cyberhis.png);
  background-size:100%;
  background-repeat:no-repeat;
  z-index:1;
  top:0;
  border-radius:14px 14px 0 0;
  background-position: right;
  mix-blend-mode: multiply;
  opacity: .65;
}