.exam-analyze {
  width: 800px;
  background: #fff;
  margin: 0 auto;
  min-height: 400px;
  border-radius: 0 0 8px 8px;
  padding: 16px;
  height: 100%;
  overflow: auto;
  &__condition {
    border-bottom: 1px solid #eee;
    padding-bottom: 48px;
  }
  &__chart-title {
    margin-top: 24px;
  }
  &__no-select-question-status {
    color: #999;
  }
  &__chart-wrap {
    margin: 48px 0;
  }
}
.back2history{
  position:fixed;
  z-index:999;
  top:16px;
  left:16px;
  padding:4px 8px;
  border:1px solid #eee;
  background: #fff;
  border-radius:8px;
  box-shadow:0px 0px 8px rgba(0,0,0,0.14);
  cursor:pointer;
}