.container{
  width: 100%;
  height: 100%;
  overflow: auto;
  // margin:0 auto;
  background:#fff;

}
P{
  margin:0;
  // float: left;
}
#content{
  width:842px;
  // border:1px solid black;
  text-align:center;
  margin:0 auto;
}
img{
  width: 160px;
  height: 33px;
  margin-left: -680px;
  margin-top: 10px;
}

.hospitalImg{
  width: 724px;
  height: 399px;
  background: url(../../../assets/hospital.png) 50% 50% no-repeat;
  background-size: contain;
  margin:0 auto;
}
.header{
  
}