.container{
  width: 100%;
  height: 100%;
  overflow: auto;
  // margin:0 auto;
  background:#fff;

}
P{
  margin:0;
  // float: left;
}
#content{
  width:842px;
  // border:1px solid black;
  text-align:center;
  margin:0 auto;
}
img{
  width: 160px;
  height: 33px;
  margin-left: -680px;
  margin-top: 10px;
}

.signPerson{
  float: left;
}
.signPerson::after{
  content:"请填写你的签名";
  color:#fff;
  border-bottom:1px solid black; 
  clear: both;
  
}
.signDate{
  width: 300px;
  margin-left: 450px;
}
.signDate::after{
  content:"请填写签名日期";
  color:#fff;
  border-bottom:1px solid black; 
  clear: both;
  
}