.queryset{
  width:60%;
  background: #fff;
  margin:10px auto;
}
.queryHeader{
  text-align: center;
  border-bottom: 2px solid #f8f8f8;
  padding:5px;
}
.queryHeader:hover{
  background: #f8f8f8;
  cursor:pointer;
}
.addStyle{
  padding:10px;
  width:100%;
  display:flex;
  justify-content: space-around;
}
.upload{
  width: 128px;
  height: 128px;
  border:1px solid #ccc;
  text-align: center;
  line-height: 128px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.raio{
  margin-top: 5px;
  /* float:left; */
  display:block;
}
.raio{
  width: 420px;
}
.prasetip{
  color:#f00;
  font-weight: 600;
}
.addchoice{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding:10px;
}
.multichoice{
  display:felx;
  flex-wrap: wrap;
}
.checklee{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
.prasered{
  color:#f00;
}
ul li{
  list-style: none;
}