.queryset{
  width:60%;
  background: #fff;
  margin:10px auto;
}
.queryHeader{
  text-align: center;
  border-bottom: 2px solid #f8f8f8;
  padding:5px;
}
.queryHeader:hover{
  background: #f8f8f8;
  cursor:pointer;
  text-align: center;
}
.addStyle{
  padding:10px;
  width:100%;
  display:flex;
  justify-content: space-around;
}
.upload{
  width: 128px;
  height: 128px;
  border:1px solid #ccc;
  text-align: center;
  line-height: 128px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.raio{
  margin-top: 5px;
  /* float:left; */
  display:block;
}
.raio{
  width: 420px;
}
.prasetip{
  color:#f00;
  font-weight: 600;
}
.addchoice{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding:10px;
}
.multichoice{
  display:felx;
  flex-wrap: wrap;
}
.checklee{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
.prasered{
  color:#f00;
}
ul li{
  list-style: none;
}
.query-set__setTitle{
  font-size: 18px;
  font-weight: bolder;
  margin:20px 0;
}
.query-set__modal{
  margin:20px 0;
}
.query-set__data{
  margin:0 10px;
}
.query-set__description{
  width: 80%;
  margin:0 auto;
  color:#f00;
  font-size: 14px;
  line-height: 16px;
  padding:0 20px;
}
.query-set__questionTopic{
  font-size: 16px;
}

  

.WriteInut{
  width:150px;
  height:20px;
  border: none;
  margin-left:5px;
}
.choice{
  border-bottom: 1px solid #000;
  background: #fff;
  padding:46px;
  min-height: 220px;
  position:relative; 
}
.choice:hover{
  background: #f8f8f8;
}
.choice:hover  .choiceActionBox{
 visibility: visible;
 opacity: 1;
}
.mark{
  color:#ff0000;
  height:18px;
  line-height: 18px;
}
.choiceActionBox{
  position:absolute;
  right:40PX;
  bottom: 10PX;
  visibility: hidden;
  opacity: 0;
  margin-top:20px;
  transition: 0.3s;
}
.choiceActionBox button{
  margin-left:5px;
}
.questionOrder{
  color:#0086ff;
}
textarea.query-set__templete{
  min-height: 300px;
}