.configByPersonGroup-style {
  .ant-layout-header {
    box-sizing: border-box;
    position: relative;
    height: 44px;
    padding: 0px 6px 0px 6px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    display: flex;
    align-items: center;
    .header-button-container {
      width: 100%;
      float: left;
      .header-button-style {
        padding: 0px 12px 0 6px;
      }
    }
  }
}
