.page-annualLeaveManage {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  .annual-leave-manage__menu {
    width: 200px;
    .menu-item__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .menu-item-tip-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      border: 1px solid #91d5ff;
      border-radius: 50%;
      background: #ffffff;
    }
  }
  .annual-leave-manage__content {
    flex: 1;
    overflow: hidden;
  }
}
