.idlindex {
  display:flex;
  flex-direction: column;
  height:100vh;
  &__header {
    padding:5px;
    margin:5px 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    &-search{
      margin-right:5px;
    }
    &-nav{
      flex:1;
      width:100%;
    }
  }
  &__content{
    display: flex;
    padding:10px;
    // overflow: scroll;
    border-top:1px solid #ccc;
    &-person{
      width:189px;
      margin-right:5px;
      height:100%;
      flex-shrink: 0;
      border-right: 1px solid #ccc;
      overflow: scroll;
      &__active{
        color: #fff;
        background: #5fd4ff;
      }
    }
    &-form{
     flex:1;
     width: calc(100% - 200px);
     height:100%;
     overflow: scroll;
     display: flex;
     justify-content: space-between;
     &__info-nav{
       width:267px;
       flex-grow: 0;
     }
    }
  }
}
