.idlindex {
  &__header {
    padding:5px;
    height: 50px;
    display: flex;
    align-items: center;
    &-search{
      margin-right:5px;
    }
    &-nav{
      flex:1;
      width:100%;
    }
  }
  &__content{
    display: flex;
    padding:5px;
    &-person{
      width:190px;
      margin-right:5px;
      flex-shrink: 0;
    }
    &-form{
      border:1px solid #f40;
      width:1200px;
    }
  }
}
