.conlist{
  background-color: #fff;
  .filter{
    width: 100vw;
    padding: .5rem 1rem;
    display: flex;
    box-sizing: border-box;
    .fitem{
      margin-right: 1rem;
    }
    button{
      margin-left: 0.5rem;
    }
  }
  .tableWrap{
    width: 100vw;
    height:calc(100vh - 48px);
  }
}