.import-excel {
  &__item-wrap {
    display: flex;
    width: 100%;
  }
  &__title,
  &__progress,
  &__op-area {
    flex: 1;
  }
  &__op-area {
    text-align: right;
  }
  &__progress {
    div {
      text-align: center;
    }
  }
  &__result {
    h4 {
      margin: 8px 0;
    }
  }
}
