.review_employee {
  flex: 1;
  .course_type {
    margin-left: 12px;
    font-size: 14px;
    height: 24px;
    padding: 1px 3px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
  }
  &-table_action_bar_extra {
    display: flex;
    &-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 24px;
    }
  }
}
.innerCardPersonDetail {
  height: 620px;
}
.outerCardPersonDetail {
  height: 620px;
}
.innerCardPersonDetail .pw-table__action-bar .pw-table__action-btns .ant-btn {
  position: absolute;
  left: 12px;
  top: 88px;
}
.outerCardPersonDetail .pw-table__action-bar .pw-table__action-btns .ant-btn {
  position: absolute;
  left: 12px;
  top: 88px;
}
.internal-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
