.review_employee {
  flex: 1;
  .course_type {
    margin-left: 12px;
    font-size: 14px;
    height: 24px;
    padding: 1px 3px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
  }
  &-table_action_bar_extra {
    display: flex;
    &-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 24px;
    }
  }
  
}

.total-plan__seed_personnel {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}