@import '../../../../../styles/variables.less';
.right-btns-task-list {
  &__list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item-progress {
    width: 90%;
  }
}