.authorize__container {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 24px;
  .authorize__header {
    margin-bottom: 12px;
  }
  .authorize__list__item {
    flex: 1;
    .authorize__list__employee-item {
      margin-right: 8px;
    }
  }
}
