.table-data-wrap{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  .wrap{
    height:calc(100vh - 52px);
  }
  
}
.form{
  &>div{
    margin-bottom: 1rem;
    input{
      width:200px;
    }
  }
  
}