@import url('../../../styles/variables.less');

.home-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  .icon-renwulan,
  .icon-gongzuotai {
    font-size: 30px;
    color: @primary-color !important;
  }
  &__left-panel {
    overflow: hidden;
  }
}
