.ant-table-thead {
  .ant-table-column-sorters,
  th div {
    text-align: center !important;
  }
}
.ant-table,
.app-title,
.lz-table .operation-btn,
.home-task-filter span,
.home-title-name,
.ant-tree-title,
.workbench-setting-app-title,
.ant-list-header,
.ant-list-item-meta-title,
.ant-list-item-meta-description,
.ant-list-item-content,
.ant-form-item-label,
.ant-btn-sm,
.ant-table-column-sorters,
th,
.ant-fullcalendar-value,
.lz-form div,
.ant-input,
.ant-input.ant-input-disabled,
.ant-select-dropdown li {
  color: #000 !important;
  font-weight: bold;
}
.ant-btn-primary {
  color: #fff !important;
}
body {
  color: #000 !important;
}

div.icon-default-nodata {
  color: #ccc !important;
}
.lz-form .ant-form-explain {
  color: #f5222d !important;
}

td {
  padding: 0 !important;
}
