.my-assessment-table {
  height: 100%;
  display: flex;
  &__menu {
    width: 152px;
    background: #ffffff;
    border: 1px solid rgba(232, 232, 232, 1);
    overflow-y: auto;
  }
  &__main {
    width: 272px;
    flex-shrink: 0;
    transition: 0.5s;
    &--shink {
      .my-assessment-table__search,
      .my-assessment-table__main__list {
        visibility: hidden;
        transition: 0.5s;
      }
    }
    &-container {
      background: #ffffff;
      height: 100%;
      padding: 8px;
      display: flex;
      flex-direction: column;
      .my-assessment-table__main__header {
        border-bottom: 1px solid rgba(232, 232, 232, 1);
        padding: 8px;
        margin-bottom: 16px;
        .my-assessment-table-shrink-btn {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .my-assessment-table__main__list {
        flex: 1;
        overflow-y: auto;
        padding-top: 16px;
        &-item {
          display: flex;
          border: 1px solid rgba(232, 232, 232, 1);
          margin-bottom: 12px;
          cursor: pointer;
          max-height: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &--selected,
          &:hover {
            border: 1px solid rgba(24, 144, 255, 1);
            .my-assessment-table__main__list-item-year {
              border-right: 1px solid rgba(24, 144, 255, 1);
            }
          }
          &-year {
            display: flex;
            align-items: center;
            padding: 8px;
            border-right: 1px solid rgba(232, 232, 232, 1);
          }
          &__left {
            flex: 1;
            color: #333333;
            padding: 8px;
          }
        }
      }
    }
  }
  .my-assessment-table__main--shink.my-assessment-table__main {
    width: 52px;
  }
  &__table {
    flex: 1;
    padding: 16px 8px;
    background: #ffffff;
    overflow: hidden;
    &-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .my-assessment-table__table__top {
        display: flex;
        margin-bottom: 8px;
        .current-stage {
          margin-left: 8px;
        }
      }
      .my-assessment-tabledata-container {
        flex: 1;
        overflow: auto;
      }
    }
  }
}
