.input{
    width: 200px;;
}
ul{
    clear: both;
    overflow: hidden;
}
ul li{
    float: left;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 20px;
}
.answer{
    margin-top: 20px;
}
.exam-title label{
    margin-top: 10px;
}