.process-data_list {
  width: 700px;
  &_progress {
    display: flex;
    flex-direction: column;
    &_progress {
      display: flex;
      justify-content: center;
    }
  }
  p {
    text-align: center;
    margin: 0;
    margin-top: 8px;
  }
}
