.training-query {
  display: grid;
  height: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  &_right {
    height: 100%;
    #nodes {
      width: 100%;
      height: 50%;
      // position: relative;
      background: rgba(240, 242, 245, 1);
    }
    .selected > rect {
      stroke: #1890ff;
    }
    .deleted > rect {
      stroke-dasharray: 4 4;
    }
    &_employee_info {
      border: 1px solid rgba(232, 232, 232, 1);
      height: 50%;
    }
  }
}
