.online-entry-training {
  height: 100%;
  display: flex;
  padding: 16px;
  overflow: hidden;
  background: #ffffff;
  .course-container {
    width: 300px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    .add-course-btn {
      height: 64px;
      background: rgba(24, 144, 255, 0.05);
      border-radius: 32px;
      border: 1px solid rgba(24, 144, 255, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      color: #1890ff;
      cursor: pointer;
    }
    .course-list {
      flex: 1;
      overflow-y: auto;
    }
    .entry-training-course {
      height: 64px;
      background: rgba(255, 255, 255, 1);
      border-radius: 40px 0px 0px 40px;
      border: 1px solid rgba(232, 232, 232, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      cursor: move;
      padding: 0 12px;
      .course-more-btn {
        display: flex;
        align-items: center;
        height: 100%;
        opacity: 0;
        font-size: 16px;
      }
      .course-number {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
        border: 1px solid rgba(232, 232, 232, 1);
      }
      &:hover {
        border: 1px solid rgba(24, 144, 255, 1);
        color: #1890ff;
        .course-more-btn {
          opacity: 1;
        }
      }
      &.selected {
        background: rgba(24, 144, 255, 1);
        color: #ffffff;
        .course-number {
          color: #1890ff;

          background: #ffffff;
        }
        .course-more-btn {
          opacity: 1;
        }
      }
    }
  }
  .test-table {
    flex: 1;
    background: #ffffff;
    overflow: hidden;
  }
}
.course-more-actions {
  .action {
    margin: 4px 0;
    cursor: pointer;
    &.danger-action {
      color: #f5222d;
    }
  }
}
