.personnel-changes-cards {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(2, auto);
  column-gap: 24px;
  row-gap: 24px;
  padding: 24px;
}
.personnel-changes-container {
  padding: 0 24px;
  .personnel-changes_tabpane {
    height: calc(100vh - 60px);
  }
}
