.queryset {
  width: 60%;
  background: #fff;
  margin: 10px auto;
}
.queryHeader {
  text-align: center;
  border-bottom: 2px solid #f8f8f8;
  padding: 5px;
}
.query-set__questionTopic {
  font-size: 16px;
}
.choiceActionBox {
  margin-top: 20px;
}
.choice {
  border-bottom: 1px solid #000;
  background: #fff;
  padding: 20px;
  position: relative;
}
.choiceActionBox {
  display: none;
  margin-top:10px;
  margin-left: 40%;
}
.choice:hover .choiceActionBox {
  display: block;
}
.queryHeader:hover {
  background: #f8f8f8;
  cursor: pointer;
}
.addStyle {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.choose {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul li {
  list-style: none;
}
.DL {
  margin-right: 10px;
}
.dlButton {
  margin-right: 20px;
  border-radius: 0;
}
.choiceActionBox button {
  margin-left: 5px;
}
.questionOrder {
  color: #0086ff;
}
.query-set__upload{
  margin-top:10px;
  width: 800px;
  text-align: center;
}
.Exam-set__pic{
  width:200px;
}
.Exam-set__pic__img{
  width: 100%;
  margin-left:20px;
}
.Exam-set__single__radio{
  margin-top:15px;
  margin-left:20px;
}
.Exam-set__picbox{
width:200px;
margin-left:300px;
text-align: center;
}
.Exam-set__picbox img{
  width:100%;
}

