.post-architecture {
  height: 100vh;
  &_title {
    line-height: 48px;
    padding: 0 24px;
    cursor: pointer;
    float: left;
  }
  &_title.tab-selected {
    color: #1890ff;
  }
  &_diagram-container {
    height: calc(100% - 48px);
  }
}
