:global {
    .ant-btn-sm {
        height: 32px !important;
        color: #fff !important;
        background-color: #1890ff !important;
        border-color: #1890ff !important;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
    }
  }