// .performance-query{
//   height:calc(100vh - 91px);
//   overflow: auto;
// }
.WorkInfoQuery {
  height: 100%;
  background-color: #fff;
  .buttonLine {
    margin-bottom: 16px;
    button {
      margin-right: 16px;
    }
  }
}
.Repo {
  animation-name: load;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  height: calc(100% - 48px);
}
.Repo {
  .viewDetail {
    position: absolute;
    right: 186px;
    z-index: 999;
    top: 54px;
  }
  .table-data {
    height: calc(100vh - 302px) !important;
    overflow: auto;
    .ant-spin-nested-loading {
      height: auto;
    }
    .pw-table__footer {
      top: 48px;
      bottom: auto;
      width: 50%;
      border: none;
    }
  }
  h4 {
    padding-top: 8px;
  }
  .data {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 16px 0 24px 0;
    width: 100%;
    li {
      float: left;
      width: 30%;
      overflow: hidden;
      label {
        display: block;
        float: left;
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        float: left;
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.csmTable{
  ul{
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 0;
      margin: 0;
    li{
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      border:1px solid #ddd;
      border-bottom: 0px solid #ddd;
      &:first-child{
        background-color: #f1f1fa;
      }
      span{
        display: inline-block;
        width: 33%;
        text-align:center;
        border-right: 1px solid #ddd;
        line-height: 2rem;
        &:last-child{
        border-right: 0px solid #ddd;
        }
      }
    }
  }
}