.region-select {
  height: 100%;
  border: 1px solid #ebebeb;
  padding: 16px;
  width: 260px;
  background-color: #fff;
  &__header {
    margin-bottom: 16px;
  }
  &__tree-wrapper {
    height: 320px;
    overflow: auto;
  }
}
