.Compact{
  .filterLine{
    width: 100vw;
    padding:0px 0px 8px 0px;
    .filter{
      padding:0 8px;
      color:#333;
      margin:0 16px;
      font-size: 14px;
      line-height: 24px;
      margin-right:8px;
      cursor: pointer;
      display: inline-block;
      border-radius: 4px;
    }
    .current{
      color:#fff;
      background-color: #1890ff;
    }
  }
  .Tab1Outer{
    width: 100vw;
    height:calc(100vh - 96px);
  }
  .Tab1Outer2{
    width: 100vw;
    height:calc(100vh - 128px);
  }
  .filterLine_Alter{
    width:auto;
    float:left;
    margin-left: 8px;
    .filter{
      display: block;
      float:right;
      margin:0;
      line-height:40px;
      width:24px;
      text-align: center;
      margin-left:0;
      font-size: 18px;
      padding:0;

    }
    .current{
      background-color: #fff;
      color:#333;
      width:88px;
      float:left;
      font-size: 14px;


    }
  }
  
}