.Compact{
  .filterLine{
    width: 100vw;
    padding:8px 24px;
    .filter{
      padding:0 8px;
      color:#333;
      margin:0 16px;
      font-size: 14px;
      line-height: 24px;
      margin-right:8px;
    }
    .current{
      color:#fff;
      background-color: #1890ff;
    }
  }
  .Tab1oOuter{
    width: 100vw;
    height:calc(100vh - 104px);
  }
  
}