.card {
    display  : flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;

    .card_pad {
        padding: 0 10px 10px 10px;
        width: 50%
    }

    .card_container {
        display  : flex;
        flex-wrap: wrap;

        .card_item {
            width: 50%;
        }
    }
}
.ant-spin-nested-loading{
    height: 100%
}

.ant-spin-container{
    height: 100%
}