.card {
    display  : flex;
    flex-wrap: wrap;
    height: 79vh;
    overflow: scroll;

    .card_pad {
        padding: 0 10px 10px 10px;
        width: 50%
    }

    .card_container {
        display  : flex;
        flex-wrap: wrap;

        .card_item {
            width: 50%;
        }
    }
}