.visitorApply {
  &_addPeople {
    width: 100%;
  }
  &_deleteBtn {
    width: 100px;
  }
  &_input {
    width: 314px;
  }
}
.VisitorApplyVIPReceptionist-form {
  .fix-form-feedback-bug {
    .ant-radio-group {
      padding-right: 16px;
    }
  }
}
.ant-form-item-label > label {
  margin-right: 45px;
}

.changeFormItem {
  display: inline-block;
}

.changeFormItem1 {
  display: inline-block;
  .ant-form-item-children-icon {
    right: 75px !important;
  }
  label {
    margin-right: 60px;
  }
}
form .ant-select,
form .ant-cascader-picker {
  width: 100%;
  margin-left: 15px;
  margin-right: 35px;
  padding-right: 40px;
}
.seviceSections {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  .hidden {
    display: none;
  }
  .alert {
    color: #f5222d;
  }
  & > div {
    float: left;
    width: 30%;
    margin-right: 5%;
    box-sizing: border-box;
    &:last-child {
      margin-right: 0;
    }
    .inputWrap {
      margin-top: 0.5rem;
    }
    & > div {
      margin-top: 0.5rem;
      & > div {
        margin-top: 0.5rem;
      }
    }
  }
}
