.exam-page {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 16px;
  // &__label-wrap {
  //   word-wrap: break-word;
  //   word-break: break-all;
  // }
  &__single-question {
    margin: 16px 0;
  }
  border-radius: 16px;
  &__radio-wrap {
    label.ant-radio-wrapper {
      &:last-child {
        display: inline-block;
        width: 740px;
        white-space: normal;
        vertical-align: top;
      }
    }
  }
  .ant-checkbox-wrapper {
    &:last-child {
      display: inline-block;
      width: 740px;
      white-space: normal;
      vertical-align: top;
    }
  }
}
