.myMealAccount{
  background-color: #fff;
  &_table-data-wrap{
    height:calc(100vh - 52px);
  }
  &_modal>div{
    margin-bottom: 0.5rem;
    >span{
      display: inline-block;
      width: 13rem;
      text-align: right;
    }
    button{
      margin-left: 13rem;
    }
  }
}