.container{
  width: 100%;
  height: 100%;
  overflow: auto;
}
.logo{
  width: 170px;
  height: 53px;
  background: url(../../../assets/logo.png) 50% 50% no-repeat;
  background-size: contain;
  margin-left: 298px;
}

.offer-content{
  width:842px;
  height: 595px;
  // border:1px solid black;
  margin:0 auto;
  clear: both;
  // overflow: auto;
}
.offer-name{
  width: 80px;
  height: 25px;
  margin-top: 9px;
}
.logos{
  width: 170px;
  height: 53px;
  background: url(../../../assets/logo.png) 50% 50% no-repeat;
  background-size: contain;
}
.logot{
  width: 170px;
  height: 53px;
  background: url(../../../assets/logo.png) 50% 50% no-repeat;
  background-size: contain;
}
.notice>li{
  list-style: none;
  padding-left: 0px;
}
.condition>li{
  padding-left: 0;
}