.container{
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
}
.logo{
  width:160px;
  height: 35px;
  margin-bottom: 10px;
}
.logo>img{
  width: 160px;
  height: 40px;
  // margin-left: 300px;
  margin-top: 10px;

}

.logoTwo{
    width:160px;
    height: 35px;
    margin-bottom: 10px;
}
.logoTwo>img{
  width: 160px;
  height: 40px;
  // margin-left: 300px;
  // margin-top: 10px;

}
.logoThree{
  width:160px;
  height: 35px;
  margin-bottom: 10px;
}
.logoThree>img{
width: 160px;
height: 40px;
// margin-left: 300px;
// margin-top: 10px;

}
.offer-content{
  width:842px;
  // height: 595px;
  // border:1px solid black;
  margin:0 auto;
  clear: both;
  // overflow: auto;
}
.offer-name{
  width: 80px;
  height: 25px;
  margin-top: 9px;
}
.logos{
  width: 170px;
  height: 53px;
  background: url(../../../assets/logo.png) 50% 50% no-repeat;
  background-size: contain;
}
.logot{
  width: 170px;
  height: 53px;
  background: url(../../../assets/logo.png) 50% 50% no-repeat;
  background-size: contain;
}
.notice>li{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 15px;
}
.condition>li{
  padding-left: 0;
  margin-bottom: 15px;
}