.performance-query {
  height: 100%;
  display: flex;
  flex-direction: column;
  &_nav {
    background: #fff;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    &_item {
      padding: 0 16px;
      margin-left: 32px;
      border-radius: 4px;
      cursor: pointer;
    }
    &_item&_item__active {
      background: rgba(24, 144, 255, 1);
      color: #fff;
    }
  }
  &_content-wrap {
    flex: 1;
    background: #fff;
  }
  &_item {
    height: 100%;
    display: flex;
    flex-direction: column;
    &_nav {
      padding: 12px 16px;
      &_item {
        cursor: pointer;
        &:nth-of-type(1) {
          margin-left: 16px;
        }
        &:nth-of-type(2) {
          margin-left: 40px;
        }
      }
      &_item&_item__active {
        color: #1890ff;
      }
    }
    &_content_wrap {
      height: 100%;
      flex: 1;
    }
  }
  #advantage-shortcoming {
    height: 100%;
  }
  #target-self-appraise {
    height: 100%;
  }
}
