@import '../../../styles/variables.less';
.emploee_courses {
  padding: 0 12px;
  background-color: #ffffff;
  &-header {
    display: flex;
    &-search {
      width: 200px;
    }
  }
  &-main {
		display: flex;
		height: 90vh;
		padding-top: 18px;
    &-course_content {
      display: flex;
      flex-wrap: wrap;
      .course_item {
        flex-basis: 50%;
      }
		}
		&-course_footer{
			display: flex;
			justify-content: space-between;
		}
		.timeline_action{
			text-decoration: underline;
			cursor: pointer;
			color: @primary-color;
			padding:4px;
		}
  }
}
