.recordInput__userInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &__userNo{
    // width: 25%;
  }
}
.recordInput__userInfo .ant-form-item-label{
  float: left;
}

.recordInput__userInfo .ant-form-item-control-wrapper {
  float: right;
}