#probation-objectives {
  .probation-objectives_fill-stage {
    display: flex;
    align-items: flex-start;
    &_fill-area {
      flex: 1;
      padding-bottom: 16px;
      &_action {
        display: flex;
        justify-content: space-between;
        &__addbtn {
          margin-right: 8px;
        }
      }
      &_item {
        display: flex;
        margin-bottom: 24px;
      }
      &_item > span {
        flex-shrink: 0;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
  .probation-objectives_audit-stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_objective-card {
      flex-basis: 49.5%;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      border: 1px solid rgba(220, 220, 220, 1);
      padding: 16px;
      margin-bottom: 24px;
      position: relative;
      &_btn__delete {
        position: absolute;
        top: 5px;
        right: 5px;
      }
      &_item {
        padding-bottom: 24px;
        p {
          margin: 0;
        }
        h4 {
          margin-bottom: 8px;
        }
        &:nth-of-type(3) {
          display: flex;
        }
        &__assessment-card {
          flex: 1;
          border: 1px solid rgba(220, 220, 220, 1);
          .assessment-card_item {
            padding: 16px;
            &:nth-child(1) {
              border-bottom: 1px solid rgba(220, 220, 220, 1);
              p {
                margin-bottom: 8px;
              }
            }
            &:nth-child(2) {
              p {
                margin-bottom: 16px;
              }
            }
            &:nth-child(3) {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          &:nth-child(1) {
            border-right: none;
          }
        }
      }
    }
  }
  .probation-objectives_cards {
    display: flex;
    flex-wrap: wrap;
    .probation-objectives_card__wrapper {
      width: 33.33%;
    }
    .probation-objectives_card {
      width: 25.49vw;
      padding: 1.67vw 1.46vw;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(232, 232, 232, 1);
      position: relative;
      margin: 0 auto 16px;
      &_action-btn__delete {
        position: absolute;
        top: 5px;
        right: 5px;
      }
      &_item {
        margin-bottom: 16px;
        &__mark {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
