.squarecard-contain {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 1);
  &-title {
    width: 40%;
    display: inline-block;
    margin-left: 20px;
  }
  &-area {
    width: 90%;
    margin: 10px 5%;
  }
}
