.IDLTransferHR{
  *{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  width:100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  sider{
    display: block;
    width: 160px;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    border-right:1px solid #e8e8e8;
    ul{
      width: 100%;
      margin-top: 32px;
      li{
        line-height: 32px;
        margin-bottom: 12px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        width: 100%;
      }
      .cur{
        color:#1890ff;
      }
  }
  
  }
  content{
    display: block;
    float: left;
    width:calc(100vw - 160px);
    height: 100vh;
    }
}