.table-data-wrap{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  .wrap{
    height:calc(100vh - 52px); 
    .visit_alert{
      color:#f5222d!important;
      margin-right: 8px;
    }
  }
}