.download-auth-modal {
  .ant-modal-body {
    padding: 0 !important;
    padding-bottom: 16px!important;
  }
  &__tip {
    line-height: 24px;
    padding: 0 16px;
    background-color: #eff7fd;
    span {
      margin-left: 8px;
    }
  }
  &__title {
    margin: 16px 16px 8px 35px;
  }
}
