.manager-subordinates-statistical-table {
  width: 600px;
  border: 1px solid #ccc;
  margin: 8px 0;
  & > thead {
    border-bottom: 1px solid #ccc;
  }
  & > thead > th {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }
  & > tbody > tr > td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
  }
}
