.idp-analyze{
    // display: flex;
    align-items:center;
    height: 100vh;
    background: #fff;
	.fy{
		margin-left:24px;
		margin-bottom: 16px;
		padding-top: 24px;
		width:calc(100% - 48px);
		ul{
			overflow: auto;
			width:100%;
			margin-top: 8px;
			li{
				float:left;
				margin-right: 8px;
				padding:0px 8px;
				cursor:pointer;
				transition: .3s;
			}
			li:hover{
				opacity: 0.8;
			}
			.current{
				color:#fff;
				border-radius:4px;
				background: #1890FF;
			}
		}
	}
}