.idp-analyze{
    // display: flex;
    align-items:center;
    height: 100vh;
    background: #fff;
	.fy{
		margin-left:24px;
		margin-bottom: 16px;
		padding-top: 24px;
		width:calc(100% - 48px);
		ul{
			overflow: auto;
			width:100%;
			margin-top: 8px;
			li{
				float:left;
				margin-right: 8px;
				padding:0px 8px;
				cursor:pointer;
				transition: .3s;
			}
			li:hover{
				opacity: 0.8;
			}
			.current{
				color:#fff;
				border-radius:4px;
				background: #1890FF;
			}
		}
	}
}
.normal-bigrid{
	transition: .3s;

	border-top:1px solid #bbb;
	width:calc(100vw - 215px);
	height:calc(100vh - 90px);
	position: relative;;
	background: #fff;
	i{
		font-size:24px;
		position:absolute;
		right:24px;
		z-index:9999;
		top:8px;
	}
}
.enlarged-bigrid{
	width:100%;
	height:100vh;
	position:fixed;
	z-index:99999;
	left: 0;
	top: 0;
	transition: .3s;
	background: #fff;
	i{
		font-size:24px;
		z-index:9999;
		position:absolute;
		right:24px;
		top: 8px;
	}
}
.normal-bigrid .ant-tabs-tabpane > div:nth-child(2){
	height:calc(100vh - 130px)!important;
}
.enlarged-bigrid .ant-tabs-tabpane > div:nth-child(2){
	height:calc(100vh - 40px)!important;
}