@import '../../../styles/variables.less';

.desktop-bottom-bar {
  width: 100%;
  height: 40px;
  background-color: @primary-color;
  opacity: 0.9;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1001;

  &__attendance-month {
    display: flex;
    align-items: center;
    border-left: 1px solid #fff;
    height: 100%;
  }

  &__attendance-month-select {
    width: 120px;
    margin-right: 8px;
  }

  &__attendance-title {
    font-size: 14px;
    padding: 0 8px;
  }

  &__logo {
    cursor: pointer;
    i {
      color: #fff;
      font-size: 22px;
    }
    width: 60px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  &__active-apps {
    display: flex;
    width: ~'calc(100vw - 690px)';
    height: 40px;
  }
  &__active-app {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 140px;
    border-bottom: 2px solid #999fa5;
    margin-left: 2px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 10px;
    i {
      font-size: 24px;
    }
    position: relative;
    &--active {
      background-color: hsla(0, 0%, 100%, 0.2);
    }
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3) !important;
    }
    &:hover &-close {
      opacity: 1;
      visibility: visible;
    }
  }
  &__active-app-close {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    svg {
      font-size: 12px;
    }
    position: absolute;
    right: 2px;
    top: 2px;
    transition: 0.3s;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }
  &__right {
    // width: 180px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 5px;
  }
  &__date {
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  &__right-item {
    height: 100%;
    cursor: pointer;
    width: 40px;
    text-align: center;
    font-size: 24px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  &__rigth-item-show-desktop {
    height: 100%;
    width: 10px;
    border-left: 1px solid #fff;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    cursor: pointer;
  }
}
