@import '../../../../styles/variables.less';

.desktop-menu {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 320px;
  height: 370px;
  background-color: @primary-color;
  opacity: 0.9;
  z-index: 2;
  transition: 0.3s ease-in-out;
  color: #fff;
  display: flex;
  &--hide {
    transform: translateY(450px);
  }
  &-user {
    width: 110px;
    margin-top: 40px;
    border-right: 1px solid #3c434e;
    text-align: center;
    position: relative;
  }
  &-user-info {
    cursor: pointer;
  }
  &-icon-wrapper {
    margin-top: 10px;
  }
  &-icon {
    font-size: 22px;
    cursor: pointer;
  }
  &-poweroff {
    position: absolute;
    left: 18px;
    bottom: 0;
    font-size: 22px;
    margin-bottom: 4px;
    cursor: pointer;
  }
  &-list {
    width: 200px;
    overflow: auto;
    margin-top: 40px;
    i,
    span {
      color: #fff !important;
    }
  }
  &-list > ul {
    border-color: #3c434e !important;
  }
  &-list ul {
    background-color: @primary-color !important;
    opacity: 0.9 !important;
  }
  &-list li {
    color: #fff !important;
  }
  &-list .ant-menu-item-selected {
    color: #fff !important;
    background: #1b2736 !important;
  }
}
