.PersonInfoInFile{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: scroll;
  position: fixed;
  padding: 0 0 64px 0;
  box-sizing:border-box;
  .page{
          width:794px;
         height:1132px;
         border:1px solid rgba(232,232,232,1);
         margin:32px calc(50% - 397px);
    .innerPage{
      width:746px;
      margin-left: 24px;
      margin-top: 24px;
    }
  }
  footer{
    display: block;
    position:fixed;
    width: 100vw;
    background-color: #fff;
    height: 48px;
    bottom: 0;
    z-index:999;
    padding:0 40px;
    line-height: 48px;
    border-top:1px solid #e8e8e8;
    box-shadow:0px 0px 8px 0px rgba(0,0,0,0.2);
  }
}
