.create_plan-header-number{
    font-weight: 800;
    color: #4e92df;
    font-size: 17px;
}
.creatFilter ul{
	list-style:none;
	width:100%;
	overflow: hidden;
	li{
		font-weight: bold;
		transition:.3s;
		float:left;
		margin-right: 8px;
		padding:8px;
		border-radius:8px;
		cursor:pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.current{
		color:#fff;
		background:#1890FF;
	}
	li:hover{
		opacity: 0.75;
	}
	&.filter2 {
		margin: 0;
		li{
			padding:0;
		}
		li:hover{
			opacity:1;
		}
		ol{

			list-style:none;
			overflow: hidden;
			padding:0;
			padding-left:8px;
			li{
				font-weight: normal;
				margin-bottom: 8px;
				margin-right:16px;
				
			}
			li:hover{
				color:#1890FF;
				opacity: 0.75;
			}
			.cur{
				font-weight: bold;
				color:#1890FF;
			}
		}
	}
}

.hidden{
	display:none;
}