@import url('../../../../styles/variables.less');
.work-overtime-kanban {
  height: 100%;
  display: flex;
  &__item {
    flex: 1;
    padding: 0 32px;
    cursor: pointer;
    &-title {
      text-align: center;
      color: #333333;
      margin-top: 1em;
    }
  }
  &__date {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &-card {
      background: @primary-color;
      flex: 1;
      color: #ffffff;
      margin: 0 32px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &__month {
        font-size: 2em;
        line-height: 1.2;
      }
    }
  }
}
.work-overtime-kanban__label {
  color: @primary-color;
}
