@import url('../../../../styles/variables.less');
.work-overtime-kanban {
  height: 150px;
  display: flex;
  &__item {
    flex: 1;
    cursor: pointer;
    &-title {
      text-align: center;
      color: #333333;
      margin-top: 1em;
    }
  }
  &__date {
    cursor: pointer;
    &-card {
      background: @primary-color;
      flex: 1;
      color: #ffffff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 13.53vh;
      width: 13.53vh;
      margin: 0 auto;
      font-size: 1.5em;

      &__month {
        font-size: 2em;
      }
    }
  }
}
.work-overtime-kanban__label {
  color: @primary-color;
}
