.example-input .ant-input {
    width: 200px;
    margin: 0 8px 8px 0;
  }
  .input{
      width: 400px;
  }
.list{
    margin-top: 20px;
}
.contains{
    // width: 1000px!important;
    display: flex;
    justify-content: center;
}
