.batch-task {
  display: flex;
  justify-content: center;
}
.batch-task_count {
  display: flex;
  justify-content: center;
  span:first-child {
    color: #ff4d4f;
    margin-right: 4px;
  }
  span:last-child {
    color: #1890ff;
    margin-left: 4px;
  }
}
.batch-task_icon-buttons {
  display: flex;
  justify-content: center;
}
