.job-seeker {
  display: flex;
  width: 100%;
  height: 100%;
  &__nav {
    width: 27%;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
    .ant-menu {
      border-right: none;
    }
  }
  &__informnation {
    padding: 16px;
    flex: 1;
    height: 100%;
    overflow: auto;
    background-color: #fff;
  }
}
