.job-seeker {
  .ant-form-item-required::before{
    float:left;
    margin-top:14px;
  }
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  &__nav {
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
    .ant-menu {
      border-right: none;
    }
  }

  &__informnation {
    padding: 10px;
    // flex: 1;
    width: 100%;
    height: 99.9vh;
    overflow: auto;
    background-color: #fff;
    &-title {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 24px;
    }
    &-boundry {
      border: 1px solid #e8e8e8;
      padding:8px;
      margin-bottom:3px;
      position:relative;
      &__delete{
        position:absolute;
        right:8px;
        top:8px;
      }
    }
    // .ant-form-item-label{
    //   text-align: left;
    // }
  }
}
.job-seeker__informnation .ant-form-item-required{
  white-space: normal!important;
}
.countNum{
  color:#1890ff;
  font-weight: bold;
  min-width: 0!important;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 1024px) and (orientation: landscape) {

  //平板
  .ant-col-10,.ant-col-8,.ant-col-14,.ant-col-16{
    width:100%!important;
    background: #fff;

  }
  .job-seeker__nav{
    height:100vh;
  }
  .job-seeker__nav ul{
    width:160px!important;
  }
  .job-seeker__informnation{
    width:calc(100% - 160px);
    left:160px;
    overflow: auto;
    position:fixed;

  }
  p{
    white-space:normal!important;
    height:auto!important;

  }
  .half{
    width:100%!important;
  }
}
.confirmTwice{
  width:100%;
  height:70vh;
  overflow: auto;
  margin-top: 32px;
  .division{
    width: 100%;
    height:1px;
    background: #dcdcdc;
  }
  div{
    float:left;
    margin-bottom: 24px;
    min-width:240px;
    margin-right: 32px;
    span{
      font-size: 14px;
      color:#666;
      text-decoration: underline;
    }
    span:first-child{
      color:#333;
      padding-left:8px;
      border-left:4px solid #1890ff;
      text-decoration: none;
    }
  }
}
.PreviewTitle{
  width: 100%;
  text-align: center;
  font-size: 16px;
  clear:both;
}
