.level-resize {
  margin: 50px;
  width: 50px;
  height: 600px;
  border: 2px solid #000;
  position: relative;
  &__top-handle {
    position: absolute;
    height: 8px;
    left: 0;
    right: 0;
    top: -5px;
    background: red;
    cursor: ns-resize;
  }
  &__bottom-handle {
    position: absolute;
    height: 8px;
    left: 0;
    right: 0;
    bottom: -5px;
    background: red;
    cursor: ns-resize;
  }

}
