@import '../../../styles/variables.less';

.functions-header {
  background: @primary-color;
  height: 70px;
  line-height: 70px;
  color: #fff;
  text-align: center;
  position: relative;
  span {
    margin: 0 10px;
  }
  .back-btn {
    cursor: pointer;
    float: left;
    margin-left: 10px;
  }
  &__title {
    font-size: 20px;
    position: relative;
  }
}
