.sheetDetails{
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .streamList{
    float: left;
    width:15.625rem;
    background-color: #E8E8E8;
    height:100vh;
    overflow: auto;
    border-right:1px solid #dcdcdc;
    .backLine{
      background-color: #fff;
      overflow: hidden;
      position: fixed;
      z-index:2;
      div{
        cursor: pointer;
        padding:0 1.5rem;
        line-height: calc(2.5rem - 1px);
        float: left;
        width:calc(15.625rem - 1px);
      }
    }
    .PLSelection{
      width:100%;
      span{
        margin-top: -6px;
      }
    }
    &>ul{
      list-style: none;
      &>li{
        background-color: #fff;
        margin-bottom:.8rem;
        padding:1rem 1.5rem;
        &>div{
          margin-bottom: .5rem;
          &>div{
            border-radius:1rem;
            width:1.5rem;
            height: 1.5rem;
            background-color: #1890ff;
            color:#fff;
            line-height: 1.5rem;
            text-align: center;
            float:left;
          }
          b{
            margin-left: 8px;
            font-weight: bold;
            color:#000;
          }
        }
        &.current{
          box-shadow:0px 0px 12px 4px rgba(53, 26, 26, 0.2);
          .current{
            *{
              color:#1890ff;
            }
          }
        }
        &.willDo{
          background-color:rgba(255,255,255,0.5);
          &>div{
            &>div{
              background-color: #999;
            }
            b{
              color:#666;
            }
          }
          ul{
            li{
              b{
                color:#666;
              }
            }
          }
        }
        ul{
          list-style: none;
          li{
            overflow: hidden;
            margin-bottom: .5rem;
            &:last-child{
            margin-bottom: 0rem;

            }
            b{
              float:left;
              margin-right: .8rem;
            color:#000;

            }
            div{
              float:left;
              span{
                display: block;
                color:#666;
                font-size: .8rem;
              }
            }
          }
        }
      }
      
    }
  }
  .historySelections{
    width:calc(100vw - 15.625rem);
    float: right;
    background: #e8e8e8;
    overflow: auto;
    ul{
      background: #fff;
      list-style: none;
      height:calc(2.5rem - 1px);
      li{
        line-height:calc(2.5rem - 1px);
        float: left;
        width:10rem;
        text-align: center;
        cursor:pointer;
        &:hover{
         color: #1890ff;
         opacity: .6;
        }
        &.current{
          color:#1890ff;
          border-bottom: 1px solid #1890ff;
        }
      }
    }
  }
  .menu{
    width:calc(100% - 21rem);
    ul{
      list-style: none;
      padding:0 1.5rem;
      overflow:hidden;
      border-bottom: 1px solid #e8e8e8;
      li{
        float: left;
        line-height: 1.5rem;
        margin-right: 1.5rem;
        padding:0 .5rem;
        cursor: pointer;
        &:hover{
          background-color: #eee;
        }
        &.right{
          float:right;
          color:#f5222d;
        }
      }
    }
  }
  .workSheetForm{
    height:calc(100vh - 4rem);
    overflow: auto;
    text-align: center;
    padding:1rem;
    #toPrint{
      display: inline-block;
      width: 794px;
      height: 1090px;
      padding:2rem;
      border:1px solid #000;
      input{
        border: 0px solid #fff;
      }
      i{
        display: none;
      }
      .header{
        width:100%;
        div{
          float:left;
          width:calc(50% - 7.5rem);
        }
        h4{
          display: inline-block;
          font-size: 1.2rem;
          width:15rem;
        }
        p{
          float:right;
          font-size: 1.2rem;
          width:calc(50% - 7.5rem);

          b{
            color:#f5222d
          }
        }
      }
      .timer{
        width:100%;
        overflow: hidden;
        div{
          float: left;
          line-height: 1.5rem;
          input{
            position:relative;
            top:6px;
            border-bottom:1px solid #000;
            border-radius: 0px;
          }
          &:nth-child(2){
            float:right;
          }
        }
        .tableWrap{
            width: 100%;
            overflow: hidden;
            .depas{
              float: left;
              overflow: hidden;
              width:1.5rem;
              margin-top: 0.5rem;
              border-left: 1px solid #000;
              border-top: 1px solid #000;
              border-bottom: 1px solid #000;
              div{
                border-bottom:1px solid #000;
                &:first-child{
                  height:calc(15.5rem + 10px);
                }
                &:nth-child(2){
                  height:calc(8rem + 2px);
                }
                &:nth-child(3){
                  height:calc(8rem + 4px);
                }
                &:nth-child(4){
                  height:calc(8rem + 3px);
                }
                &:nth-child(5){
                  height:calc(4.5rem + 3px);
                }
                &:nth-child(6){
                  height:calc(7.5rem + 3px);
                  border-bottom:0px solid #000;
                }
              }
            }
            
          .table{
            float: left;
            width:calc(100% - 1.5rem);
            margin-top: 0.5rem;
            height: 851px;
            .selected{
              &:after{
                display: block;
                content:'√';
                text-align: left;
                width: 100%;
                height:24px;
                position: absolute;
                top:0;
                left:0;
                color:#1890ff;
                font-weight: bold;
              }
            }
            div{
              float:none;
            }
           
            .ant-row{
              display: flex;
              border-top:1px solid #000;
              border-left:1px solid #000;
              border-right:1px solid #000;
              box-sizing: border-box;
              &:last-child{
                border-bottom: 1px solid #000;
              }
              
            }
            .ant-col{
              border-right:1px solid #000;
              box-sizing: border-box;
              &:last-child{
                border-right: 0px solid #000;
  
              }
              input{
                top:0;
                border:0px solid #fff;
                line-height:1.5rem;
                width:100%;
              }
              textarea{
                width:100%;
                border:0px solid #fff;
                resize: none;
                height: 1rem;
              }
            }
            .multInput{
              input{
                width:45%;
              }
              span{
                width:10%;
              }
            }
          }
        }
        
      }
    }
  }
  .rightContent{
    float:right;
    width:21rem;
    background-color: #e8e8e8;
    height:calc(100vh - 2.5rem);
    padding:.5rem;
    .pics{
      width:100%;
      .toChange{
        width:100%;
        min-height:3rem;
        background-color: #999;
        text-align: center;
        line-height: 3rem;
        color:#fff;
      }
      .picsMenu{
        width:100%;
        overflow:hidden;
        background-color: #fff;
        padding:0 1rem;
        div{
          line-height:1.5rem;
          color:#1890ff;
          float:right;
          text-align: right;
          width:27%;
          margin-top: 0.5rem;
          cursor:pointer;
          &.left{
            float:left;
            width:72%;
            margin:.3rem 0;
            input{
              cursor: pointer;
            }
          }
        }
      }
    }
    .reasons,.feedback{
      background:#fff;
      margin-top:1rem;
      padding:1rem;
      b,span{
        line-height: 1.5rem;
      }
      span{
        float:right;
        color:#1890ff;
        cursor:pointer;

      }
    }
  }
}

