.queryItem{
  margin-bottom: 13px;
}
.queryItem:hover{
  box-shadow: 1px 1px 1px 2px #0086ff;
}
.queryItem-top{
  height: 45px;
  background: #e4f0fb;
}
.queryItem-bottom{
  height: 58px;
  background: #fff;
}
.queryItem-top,.queryItem-bottom{
  padding:10px;
}

.queryItem-left{
  float:left;
}
.queryItem-left span{
  margin-right:10px;
}
.queryItem-right{
  float: right;
}
.queryItem-right span{
  margin-left:10px;
}
.queryItem-left button{
  margin-right:10px;
}
.queryItem-right button{
  margin-left:10px;
}
