.form-data {
  &__pwform--left {
    display: inline-block;
    width: 49%;
    overflow: auto;
  }
  &__tabs {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    overflow: auto;
  }
}