
.DL{
margin-right: 10px;
}
.dlButton{
    margin-right:20px;
    border-radius: 0;
}
.raio{
    display:inline-block;
}
// .ant-select-selection__rendered{
//     width:400px;
//     height: 20px;
// }