.choose{
    width: 340px;
    margin-bottom: 10px;
    margin-left: 8px;
}
.score{
    margin-top: 20px;
}
.title{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 700px;
}
.button{
    width: 120px;
    margin-right: 20px;
    margin-left: 10px;
}
ul{
    clear: both;
    overflow: hidden;
}
ul li{
    list-style: none;
    float: left;
}
.title-title{
    margin-left: 55px;
}
.ant-col-8{
    width:422px !important;
}
