.evaluate-manage-evaluate {
  height: 100%;
  display: flex;
  padding: 16px;
  &__left {
    flex: 1;
    background: #ffffff;
  }
  &__right {
    width: 272px;
    display: flex;
    background: #ffffff;
    margin-left: 16px;
    flex-direction: column;
    padding: 16px;
    &__header {
    }
    &__list {
      flex: 1;
      overflow-y: auto;
      padding-top: 16px;
      &-item {
        border: 1px solid rgba(232, 232, 232, 1);
        padding: 16px;
        margin-bottom: 16px;
      }
    }
  }
}
