.patient-info {
  width: 100%;
  height: 100%;
}
.otherData{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otherData .ant-form-item-label label{
  float: left;
}
.otherData .ant-form-item-control-wrapper {
  float: right;
}