.ant-form-item-control-wrapper{
  text-align: left;
  line-height: 28px;
}
.ant-form-item-label{
  text-align: left;
  line-height: 25px;
}
.informnation__boundary{
  border:1px solid #ccc;
  margin-bottom:5px;
  padding:5px;
}
form h3{
  text-align: center;
}
.applay__informnation-signPerson{
  float:left;
  margin:5px 0 0 5px;
}
.applay__informnation-signPerson::after{
  content:"";
  content:"请填写你的签名";
  color:#e7ecef;
  border-bottom:1px solid black;
  clear: both;

}
.applay__informnation-date{
  float:left;
  margin:5px 0 0 300px;
}
.applay__informnation-date::after{
  content:"请填写日期";
  color:#e7ecef;
  border-bottom:1px solid black;
  clear: both;

}
.job-seeker__informnation-boundry{
  border:1px solid #e8e8e8;
}
