.ant-form-item-control-wrapper{
  text-align: left;
  line-height: 28px;
}
.ant-form-item-label{
  text-align: left;
  line-height: 25px;
}
.informnation__boundary{
  border:1px solid #ccc;
  margin-bottom:5px;
  padding:5px;
}
form h3{
  text-align: center;
}

