.ant-select-dropdown-menu-item {
  min-height: 32px;
}
.moduleLine{
  margin-bottom: 8px;
  div{
    margin-top: 0.5rem;
  }
  button{
    margin-right: 8px;
  }
  a{
    margin-right: 8px;
  }
}
.moduleList{
  li{
    margin-bottom: 0.5rem;
    button{
      margin-left: 0.5rem;
    }
  }
}
.formfield {
  height: 80vh;
  width: 100%;
  overflow: auto;
  .part2 {
    padding-top: 0.5rem;
    border-top: 1px solid #eee;
    .label2 {
      overflow: hidden;
      margin-top: 0.5rem;
      .ant-checkbox-wrapper {
        float: left;
        margin-top: calc(0.5rem - 2px);
      }
      ul {
        list-style: none;
        float: left;
        li {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .part3,
  .part4 {
    margin-top: 0.5rem;
    overflow: hidden;
    .ant-checkbox-wrapper {
      float: left;
      margin-top: calc(0.5rem - 2px);
    }
    dl {
      margin-left: 64px;
      dd {
        margin-bottom: 0;
      }
      dt {
        box-sizing: border-box;
        margin-top: 0.5rem;
        span {
          display: inline-block;
          width: 160px;
          text-align: center;
          border: 1px solid #ddd;
          background-color: #f1f1fa;
          line-height: 1.5rem;
        }
      }
    }

    .hotelInfo {
      float: left;
    }
    .buttonLine {
      button {
        margin: 0.3rem;
      }
    }
  }
  .part4 {
    border-top: 1px solid #eee;
    padding-top: 0.5rem;
  }
  .files{
    width: 100%;
    tr{
      height:1.5rem;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
    }
    tr:nth-child(odd){
    background-color: #f1f1fa; 
    }
  }
}
