.SignPrint{
  height: 100vh;
  width:100vw;
  background-color: #ffffff;
  .inner{
    width:100vw;
    height:calc(100vh - 60px);
    padding: 16px;
    background: #ffffff;
  }
  .beforePrint{
    width:100vw;
  }
}
