.SignPrint {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  .filter {
    padding-left: 1rem;
    padding-bottom: 1rem;
    .ant-select {
      margin-right: 1rem;
    }
  }
  .inner {
    width: 100vw;
    height: calc(100vh - 108px);
    padding: 0 16px 16px;
    background: #ffffff;
  }
  .beforePrint {
    width: 100vw;
  }
}
