.screening_bar {
  display: flex;
  margin-bottom: 12px;
}
.subordinate_courses_item_content {
  display: flex;
  flex-wrap: wrap;
  .content_item {
    width: 50%;
  }
}
.cataner {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cardinner {
  margin-bottom: 5px;
}
.feedbackList {
  width: 100%;
  padding: 0;
  margin-bottom: 8px;
  .alter2 {
    background: #ffffb8;
  }
  li:first-child {
    background: #ffffb8;
    padding: 8px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #000;
    i {
      top: 8px;
    }
  }
  li {
    width: 100%;
    border: 1px solid #000;
    list-style: none;
    position: relative;
    border-top: none;
  }
  rect {
    display: inline-block;
    line-height: 32px;
    width: 48px;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: bottom;
    cursor: default;
  }
  input {
    vertical-align: bottom;
    border: none;
    outline: none;
    text-indent: 1rem;
    line-height: 32px;
    width: calc(100% - 80px);
    height: 32px;
  }
  i {
    position: absolute;
    top: 6px;
    cursor: pointer;
    right: 8px;
  }
  p {
    width: calc(100% - 48px);
    text-align: left;
    text-indent: 1rem;
    display: inline-block;
    line-height: 32px;
    margin-bottom: 0;
  }
}
