.desktop-dashboard {
  min-height: 280px;
  margin: 8px;
  &__go-to-setting {
    text-align: center;
    margin-top: 100px;
  }
  &__no-default-dashboard {
    color: #999;
  }

  &__dashboard-page-wrap {
    margin-top: 8px;
  }
}
