.IDPTrack-theme1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(24, 144, 255, 1) 0%,
    rgba(9, 109, 217, 1) 100%
  );
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    &__div1 {
      background: rgba(255, 255, 255, 0.08);
      transform: rotate(45deg);
      position: absolute;
      left: -6.31vw;
      top: -2.75vh;
      width: 35.34vh;
      height: 35.34vh;
    }
    &__div2 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: 72.64vw;
      top: 12.6vh;
      width: 59.63vh;
      height: 59.63vh;
    }
    &__div3 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: -12.81vw;
      top: 41.05vh;
      width: 54.6vh;
      height: 54.6vh;
    }
    &__div4 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: 24.42vw;
      top: 25.86vh;
      width: 25.86vh;
      height: 25.86vh;
    }
    &__div5 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: 28.97vw;
      top: -22.41vh;
      width: 29.6vh;
      height: 29.6vh;
    }
    &__div6 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: 60.75vw;
      top: 7.06vh;
      width: 16.38vh;
      height: 16.38vh;
    }
    &__div7 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: 46.75vw;
      top: 68.66vh;
      width: 35.34vh;
      height: 35.34vh;
    }
    &__div8 {
      background: rgba(255, 255, 255, 0.05);
      transform: rotate(45deg);
      position: absolute;
      left: 93.69vw;
      top: 51.55vh;
      width: 25.86vh;
      height: 25.86vh;
    }
  }
  &__main {
    position: relative;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    color: #ffffff;
    height: 5.74vh;
    &__right {
      line-height: 40px;
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      &__main {
        background: rgba(255, 255, 255, 0.25);
        width: 100%;
        position: relative;
        &:hover::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.1);
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          height: 0;
          width: 0;
          border-top: 20px solid rgba(255, 255, 255, 0.25);
          border-right: 20px solid rgba(255, 255, 255, 0.25);
          border-bottom: 20px solid transparent;
          border-left: 20px solid transparent;
          left: -40px;
        }
        &:hover::before {
          border-top: 20px solid #6db5fc;
          border-right: 20px solid #6db5fc;
        }
        &__title {
          padding-left: 32px;
        }
      }
    }
    &__left {
      margin-top: 12px;
      margin-left: 16px;
      width: 24px;
      height: 24px;
      font-size: 16px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__header {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    text-align: center;
    height: 29.17vh;
    h3,
    h2 {
      color: #ffffff;
      font-weight: 500;
      margin: 0;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 20px;
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
    }
    &__bar {
      height: 2px;
      background: #ffffff;
      margin-top: 4px;
      &--l {
        width: 320px;
      }
      &--m {
        width: 104px;
      }
      &--s {
        width: 40px;
      }
    }
  }
  &__content {
    flex: 1;
    display: flex;
    height: 65.09vh;
    &__previous,
    &__next {
      width: 56px;
      color: #ffffff;
      font-size: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 56px;
      cursor: pointer;
    }
    &__cards {
      flex: 1;
      padding-bottom: 32px;
      display: flex;
      overflow: auto;
      &--container {
        display: flex;
        position: relative;
        left: 0;
      }
    }
    .IDPTrack-theme1__card {
      width: 13.54vw;
      height: 100%;
      margin-right: 2.22vw;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      &:last-child {
        margin-right: 0;
      }
      &__header {
        background-color: #2f9bff;
        display: flex;
        justify-content: flex-end;
        height: 86px;
        padding-top: 16px;
        padding-right: 8px;
        flex-shrink: 0;
        background-image: radial-gradient(
          circle at 32px 86px,
          rgba(255, 195, 76, 0.6) 0%,
          rgba(255, 195, 76, 0.6) 40%,
          rgba(81, 171, 255, 1) 40%,
          rgba(81, 171, 255, 1) 70%,
          rgba(47, 155, 255, 1) 70%,
          rgba(47, 155, 255, 1) 100%
        );
        background-repeat: no-repeat;
      }
      &__train-times {
        padding-right: 12px;
        flex-shrink: 0;
        height: 32px;
        line-height: 32px;
        display: flex;
        margin-top: 2px;
        font-size: 16px;
        align-items: center;
        background-color: #2f9bff;
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2) inset;
        position: relative;
        cursor: pointer;
        &:hover:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.2);
        }
        &__number {
          height: 64px;
          width: 64px;
          border-radius: 50%;
          background: #ffc043;
          position: relative;
          top: -17px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 32px;
          margin-right: 4px;
        }
      }
      &__content {
        background-color: #2f9bff;
        margin-top: 4px;
        // flex: 1;
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2) inset;
        padding: 16px 0px 0;
        display: flex;
        flex-direction: column;
        height: 30.75vh;
        ul {
          flex: 1;
          padding: 0 4px 0 24px;
          overflow: auto;
        }
        &__header {
          padding: 0 8px;
        }
        &__footer {
          box-shadow: 0px -1px 2px 0px rgba(31, 139, 243, 1);
          height: 32px;
          line-height: 32px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 12px 0 16px;
          position: relative;
          cursor: pointer;
          &:hover:before {
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      &__footer {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-radius: 4px;
        background-color: #2f9bff;
        margin-top: 8px;
        height: 76px;
        flex-shrink: 0;
      }
    }
  }
}
