@import '../../styles/variables.less';
.functions {
  background: '#eee';
  z-index: 10;
  &__header {
    background: @primary-color;
    height: 70px;
    line-height: 70px;
    color: #fff;
    text-align: center;
    position: relative;
  }
  &__header span {
    margin: 0 10px;
  }
  &__header .back-btn {
    cursor: pointer;
    float: left;
    margin-left: 10px;
  }
  &__header-title {
    font-size: 20px;
    position: relative;
    top: -10px;
  }
}
