.external_training {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.feedbackList{
	width:100%;
	padding:0;
	margin-bottom:8px;
	.alter2{
		background: #ffffb8;
	}
	li:first-child{
		background: #ffffb8;
		padding:8px;
		line-height:24px;
		text-align:center;
		font-weight:bold;
		border-top:1px solid #000;
		i{
			top:8px;
		}
	}
	li{
		width:100%;
		border:1px solid #000;
		list-style:none;
		position:relative;
		border-top:none;
	}
	rect{
		display:inline-block;
		line-height:32px;
		width:48px;
		text-align:center;
		font-size:16px;
		border-right:1px solid #000;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		vertical-align: bottom;
		cursor:default;
	}
	input{
		vertical-align: bottom;
		border:none;
		outline: none;
		text-indent:1rem;
		line-height:32px;
		width:calc(100% - 80px);
		height:32px;
	}
	i{
		position:absolute;
		top:6px;
		cursor:pointer;
		right:8px;
	}
	p{
		width:calc(100% - 48px);
		text-align: center;
		display: inline-block;
		line-height: 32px;
	}
}
.viewAll{
	width: 100%;
	height:80vh;
}