.PE{
  width:100vw;
  background:#fff;
  padding:0;
  margin:0;
  padding-bottom:88px;
}
.buttonLine{
  position:fixed;
  width:100%;
  z-index:999;
  bottom:0;
  height:56px;
  background: #fff;
  border-top:1px solid #e8e8e8;
  box-shadow:0px 0px 8px rgba(0,0,0,0.09);
  button{
    margin-top: 12px;
    margin-left: 16px;
  }
  button:last-child{
    margin-left: 8px;
  }
}
.wrap{
  width:842px;
  padding-top:40px;
  margin-left:calc(50% - 421px);
}
.file {
	cursor:pointer;
	line-height:32px;
}
.file input {
    position: absolute;
	width:100%;
	height:100%;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}