.register-contain{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(241, 239, 239);
  width: 500px;
  height: 500px;
  margin-top: 50px;
  // border-radius: 20px;
  background: #fff;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.05);
  margin: 50px auto;
}
.ant-spin-nested-loading{
  width: 300px;
  
}
.login-form-valid{
  width: 180px;
  position: relative;
}
.code-button{
  position: absolute;
  left: 190px;
  top: -8px;
}
.login-form-button{
  width: 100px;
  float: left;
  // margin: 1px auto;
  // display: inherit;
}
.login-form-register{
  font-size: 12px;
  float: right;
  // position: absolute;
  // left: 405px;
  // right: 0;
}
.login-form-doctor-register{
  // display: inline;
  float: left;
  font-size: 16px;
}
.login-form-company-register{
  // display: inline;
  float: right;
  font-size: 16px;
}
