.solequery{
  width:60%;
  background: #fff;
  margin:10px auto;
}
.queryHeader{
  text-align: center;
  border-bottom: 2px solid #f8f8f8;
  padding:5px;
}
.lucker{
  color:#f00;
}
.queryfooter__submit{
  display: flex;
  justify-content: space-around;
  margin-top:20px;
  padding-bottom: 18px;
}
.thanks{
  font-size: 20px;
  color:#f68f90;
  padding-left:20px;
  margin-top:10px;
}
.raio{
  margin-top: 5px;
  /* float:left; */
  display:block;
}
.raio{
  width: 420px;
}
.prasetip{
  color:#f00;
  font-weight: 600;
}
.addchoice{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding:10px;
}
.multichoice{
  display:felx;
  flex-wrap: wrap;
}
.checklee{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
.prasered{
  color:#f00;
}
ul li{
  list-style: none;
}
.query-set__setTitle{
  font-size: 20;
  font-weight: bolder;
  margin:20px 0;
}
.query-set__modal{
  margin:20px 0;
}
.query-set__data{
  margin:0 10px;
}
.query-set__description{
  width: 80%;
  margin:0 auto;
  font-size: 14px;
  line-height: 16px;
  padding:0 20px;
}
.query-set__questionTopic{
  font-size: 20px;
}
.choiceActionBox{
  margin-top:20px;
}
.WriteInut{
  width:200px;
  border: none;
}
.choice{
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding:20px;
  position:relative; 
}
.choice:hover{
  background: #eee;
}
.mark{
  color:#ff0000;
}
.question_type{
  color:#666;
  font-size: 18px;
}
.stopTips{
  height: 80px;
  padding:20px;
  font-size: 16px;
  color:#0086ff;
  border:1px solid #ccc;
  text-align: center;
}