
ul  li {
  list-style: none;
}
*{
  margin:0;
  padding:0;
}
.tableBox{
  border:1px solid #cccccc;
  overflow:auto;
}
.selectPersonSecond .tableHead{
  padding:10px;
  display:flex;
  justify-content: space-between;
}
.personItem{
  display: flex;
  padding:10px;
  border-top:1px solid #cccccc;
  align-items: center;
}
.personItem .header-picture{
  width:50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  margin-left:10px;
}
.personItem  .info{
  width:200px;
  margin-left:10px;
}
.personItem  .department{
  width:550px;
  text-align: right;
}