.FinisarMenjin{
    width:100vw;
    height:100vh;
    background-color: #fff;
    overflow: auto;
      
      .FinisarMenjin-logo {
        animation: FinisarMenjin-logo-spin infinite 20s linear;
        height: 40vmin;
      }
      
      .FinisarMenjin-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      .tab {
        width: 80%;
        text-align: center;
        margin-left: 10%;
      }
      .btns {
        width: 80%;
        margin-left: 10%;
        padding-top: 5%;
        overflow: hidden;
      }
      .btn-FinisarMenjinrove {
        margin: 5px;
      }
      
      .btn-reject {
        margin: 5px;
      }
      .btn-export {
        margin: 5px;
      }
      .btn-search {
        width: 100px;
      }
      
      .FinisarMenjin-link {
        color: #61dafb;
      }
}