.ac {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
  }
  .l {
    width: 20vw;
    height: calc(100vh - 77px);
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    float: left;
    .search {
      width: 100%;
      padding: 1rem 1rem 0.25rem;
    }
    ul {
      padding-top: 0.25rem;
      height: calc(100vh - 132px);
      overflow: auto;
      li {
        padding: 0.25rem 1rem;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &:hover {
          background-color: rgb(216, 236, 250);
        }
        &.current {
          color: #1890ff;
        }
        & > span {
          display: inline-block;
          width: calc(100% - 0.5rem - 120px);
          vertical-align: middle;
        }
        button {
          width: 120px;
          vertical-align: middle;
          text-align: center;
          margin-left: 0.5rem;
          span {
            display: inline;
          }
        }
      }
    }
  }
  .r {
    width: 80vw;
    height: calc(100vh - 77px);
    float: right;
  }
}
