.doors {
  margin-top: 8px;
  padding-top: 4px;
  li {
    &:hover {
      background-color: #eee;
    }
    & > span {
      display: inline-block;
      width: 400px;
    }
    padding-top: 4px;
    padding-bottom: 4px;
    button {
      margin-left: 8px;
    }
  }
}
.ac {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  .l {
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1rem;
    }
    width: 20vw;
    height: calc(100vh - 77px);
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    float: left;
    .search {
      width: 100%;
      padding: 1rem 1rem 0.25rem;
    }
    ul {
      height: calc(100vh - 132px);
      overflow: auto;
      li {
        padding: 0.25rem 1rem;
        border-bottom: 1px solid #eee;
        &:hover {
          background-color: rgb(216, 236, 250);
        }
        &.current {
          color: #1890ff;
        }
        & > span {
          display: inline-block;
          width: calc(100% - 0.5rem - 80px);
          cursor: pointer;
          vertical-align: middle;
        }
        button {
          width: 80px;
          height: 32px;
          vertical-align: middle;
          cursor: pointer;
          text-align: center;
          margin-left: 0.5rem;
          span {
            display: inline;
          }
        }
      }
    }
  }
  .r {
    width: 80vw;
    height: calc(100vh - 77px);
    float: right;
  }
  .rightFilters {
    overflow: hidden;
    ul {
      padding: 0;
      margin: 0;
      margin-left: 1rem;
      overflow: hidden;
      list-style: none;
      float: left;
      cursor: pointer;
      li {
        border: 1px solid #bbb;
        float: left;
        text-align: center;
        padding: 0rem 0.5rem;
        border-radius: 0.5rem 0 0 0.5rem;
        &:last-child {
          border-radius: 0 0.5rem 0.5rem 0;
        }
        &.current {
          border: 1px solid #1890ff;
          color: #fff;
          background: #1890ff;
        }
      }
    }
  }
  .outer {
    margin-top: 0.5rem;
    height: calc(100vh - 104px);
    .csmTable {
      height: calc(100vh - 104px);
      overflow: auto;
      width: 100%;
      padding: 0.5rem 1rem;
      table {
        width: 1800px;
        th,
        td {
          padding: 0 0.5rem;
          border: 1px solid #e8e8e8;
        }
        th {
          background-color: #f1f1fa;
        }
      }
    }
  }
}
