@page {
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }
  .Print{
      background-color: #fff;
      text-align: center;
  }
  td {
    width: 100px;
    height: 16px;
    border: 1px solid #999;
    padding: 0;
    margin-left: 3px;
    border-spacing: 0;
    padding: 5px;
  }
  
  tr {
    border: 1px solid #999;
    padding: 0;
    margin: 0;
  }
  
  .content {
    margin: 0 auto;
  }
  
  .top {
    margin: 0 auto;
  }
  
  .tab {
    border-collapse: collapse;
  }
  
  .content-center {
    text-align: center;
  }
  
  .remove-top-bottom {
    border-top: 0;
    border-bottom: 0;
  }
  
  .remove-all {
    border: 0;
  }
  
  .remove-t-b-l {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
  
  .opinion {
    border-bottom: 0;
    height: 20px;
    vertical-align: top;
  }
  #logo {
    width: 150px;
    height: 40px;
    /* display: inline-block; */
  }
  #warn {
    font-size: 28px;
  }
  #company {
    /* display: none; */
  }
  .head {
    width: 45vw;
    margin: 0 auto;
  }
  .warn {
    height: 30px;
    vertical-align: top;
  }